---
swagger: '2.0'
info:
  version: v1
  title: NxtPort Bulkchain Export API
  description: The NxtPort Bulkchain Export v0.1 API
host: api.nxtport.eu
basePath: "/bulkchain/export/live/api/v1"
paths:
  "/availableroles":
    get:
      tags:
      - Enumeration
      summary: Returns all the roles in the role enum
      operationId: AvailablerolesGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      - name: Authorization
        in: header
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            uniqueItems: false
            type: array
            items:
              type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
          schema:
            "$ref": "#/definitions/ServerError"
  "/terms":
    get:
      tags:
      - Enumeration
      summary: Returns all the terms in the terms enum
      operationId: TermsGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      - name: Authorization
        in: header
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            uniqueItems: false
            type: array
            items:
              type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
          schema:
            "$ref": "#/definitions/ServerError"
  "/consignmentstatuses":
    get:
      tags:
      - Enumeration
      summary: Returns all the different statuses in the reservation status enum
      operationId: ConsignmentstatusesGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      - name: Authorization
        in: header
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            uniqueItems: false
            type: array
            items:
              type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
          schema:
            "$ref": "#/definitions/ServerError"
  "/preannouncementstatuses":
    get:
      tags:
      - Enumeration
      summary: Returns all the different statuses in the preannouncement status enum
      operationId: PreannouncementstatusesGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      - name: Authorization
        in: header
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            uniqueItems: false
            type: array
            items:
              type: string
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
          schema:
            "$ref": "#/definitions/ServerError"
  "/ping":
    get:
      tags:
      - Health
      summary: Pings this instance.
      operationId: PingGet
      consumes: []
      produces: []
      parameters:
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      - name: Authorization
        in: header
        required: false
        type: string
      responses:
        '200':
          description: Success
  "/status":
    get:
      tags:
      - Health
      summary: call the status of this instance.
      operationId: StatusGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      - name: Authorization
        in: header
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/Status"
  "/orders":
    get:
      tags:
      - Order
      summary: Search for Terminal Delivery Orders based on the parameters and return
        a summary.
      operationId: OrdersGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: search
        in: query
        description: ''
        required: false
        type: string
      - name: closingDateFrom
        in: query
        description: ''
        required: false
        type: string
        format: date-time
      - name: closingDateTo
        in: query
        description: ''
        required: false
        type: string
        format: date-time
      - name: states
        in: query
        description: 'The state of the Terminal Delivery Orders that need to be retrieved.
          Possible values (case insensitive, spaces are ignored): Draft, Temporary,
          Cancelled, Final, Declined, Completed, Archived'
        required: false
        type: array
        items:
          type: string
        collectionFormat: multi
        uniqueItems: false
      - name: page
        in: query
        description: 'Used for paging: what page needs to be retrieved'
        required: false
        type: integer
        format: int32
        default: 1
      - name: pagesize
        in: query
        description: 'Used for paging: how many items does a response contain at most?'
        required: false
        type: integer
        format: int32
        default: 50
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      - name: Authorization
        in: header
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/OrderPagedList"
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
    post:
      tags:
      - Order
      summary: Create a new Terminal Delivery Order.
      operationId: OrdersPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      - application/xml
      - text/xml
      - application/*+xml
      produces: []
      parameters:
      - name: tdo
        in: body
        description: The Terminal Delivery Order that needs to be created (provided
          in the body) of the request.
        required: false
        schema:
          "$ref": "#/definitions/Order"
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      - name: Authorization
        in: header
        required: false
        type: string
      responses:
        '202':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
  "/orders/{id}":
    get:
      tags:
      - Order
      operationId: OrdersByIdGet
      consumes: []
      produces:
      - application/json
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: isPrivateReference
        in: query
        required: false
        type: boolean
        default: false
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      - name: Authorization
        in: header
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/Order"
        '204':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
    put:
      tags:
      - Order
      summary: ''
      operationId: OrdersByIdPut
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      - application/xml
      - text/xml
      - application/*+xml
      produces: []
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: tdo
        in: body
        description: ''
        required: false
        schema:
          "$ref": "#/definitions/Order"
      - name: isPrivateReference
        in: query
        required: false
        type: boolean
        default: false
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      - name: Authorization
        in: header
        required: false
        type: string
      responses:
        '202':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
  "/orders/{id}/preannouncements":
    post:
      tags:
      - Order
      summary: Add preannouncement
      operationId: OrdersByIdPreannouncementsPost
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      - application/xml
      - text/xml
      - application/*+xml
      produces: []
      parameters:
      - name: preannouncement
        in: body
        description: The preannouncement (provided in the body) that needs to be linked
          to an existing Terminal Delivery Order (specified by the Bulkchain Reference)
        required: false
        schema:
          "$ref": "#/definitions/Preannouncement"
      - name: id
        in: path
        required: true
        type: string
      - name: isPrivateReference
        in: query
        required: false
        type: boolean
        default: false
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      - name: Authorization
        in: header
        required: false
        type: string
      responses:
        '202':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
  "/orders/{id}/preannouncements/{preannouncementId}":
    put:
      tags:
      - Order
      operationId: OrdersByIdPreannouncementsByPreannouncementIdPut
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      - application/xml
      - text/xml
      - application/*+xml
      produces: []
      parameters:
      - name: preannouncement
        in: body
        required: false
        schema:
          "$ref": "#/definitions/Preannouncement"
      - name: id
        in: path
        required: true
        type: string
      - name: preannouncementId
        in: path
        required: true
        type: string
        format: uuid
      - name: isPrivateReference
        in: query
        required: false
        type: boolean
        default: false
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      - name: Authorization
        in: header
        required: false
        type: string
      responses:
        '202':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
    patch:
      tags:
      - Order
      operationId: OrdersByIdPreannouncementsByPreannouncementIdPatch
      consumes:
      - application/json-patch+json
      - application/json
      - text/json
      - application/*+json
      - application/xml
      - text/xml
      - application/*+xml
      produces: []
      parameters:
      - name: patchValues
        in: body
        required: false
        schema:
          "$ref": "#/definitions/PreannouncementPatch"
      - name: id
        in: path
        required: true
        type: string
      - name: preannouncementId
        in: path
        required: true
        type: string
        format: uuid
      - name: isPrivateReference
        in: query
        required: false
        type: boolean
        default: false
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      - name: Authorization
        in: header
        required: false
        type: string
      responses:
        '202':
          description: Success
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
  "/stakeholders":
    get:
      tags:
      - Stakeholder
      summary: Retrieve possible stakeholders for a specific role (that are connected
        to the entity of the caller)
      operationId: StakeholdersGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: role
        in: query
        description: The role that possible stakeholders (for the entity of the caller)
          need to have
        required: false
        type: string
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      - name: Authorization
        in: header
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            uniqueItems: false
            type: array
            items:
              "$ref": "#/definitions/StakeholderDetails"
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
          schema:
            "$ref": "#/definitions/ServerError"
  "/stakeholders/{nxtEntityId}":
    get:
      tags:
      - Stakeholder
      summary: Get some details of an entity, including his roles in Bulkchain Export
      operationId: StakeholdersByNxtEntityIdGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: nxtEntityId
        in: path
        description: The nxtEntityId of the entity that is requested.
        required: true
        type: string
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      - name: Authorization
        in: header
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/StakeholderDetails"
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
          schema:
            "$ref": "#/definitions/ServerError"
  "/userprofile":
    get:
      tags:
      - User
      summary: Get user profile (current user)
      operationId: UserprofileGet
      consumes: []
      produces:
      - text/plain
      - application/json
      - text/json
      - application/xml
      - text/xml
      parameters:
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      - name: Authorization
        in: header
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/User"
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '500':
          description: Server Error
          schema:
            "$ref": "#/definitions/ServerError"
definitions:
  ServerError:
    type: object
    properties:
      error:
        type: string
      identifier:
        type: string
  Status:
    type: object
    properties:
      packageVersion:
        type: string
      runtimeVersion:
        type: string
      date:
        format: date-time
        type: string
  OrderPagedList:
    type: object
    properties:
      items:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/OrderSummary"
      _page:
        "$ref": "#/definitions/Pagination"
  OrderSummary:
    type: object
    properties:
      bulkchainReference:
        type: string
      departureDate:
        format: date-time
        type: string
      terminalCode:
        type: string
      commodities:
        type: string
      destination:
        type: string
      status:
        type: string
      action:
        type: string
      privateReference:
        type: string
  Pagination:
    type: object
    properties:
      size:
        format: int32
        type: integer
      totalElements:
        format: int32
        type: integer
      totalPages:
        format: int32
        type: integer
      number:
        format: int32
        type: integer
  Order:
    required:
    - consignment
    - preannouncements
    type: object
    properties:
      consignment:
        "$ref": "#/definitions/Consignment"
      preannouncements:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/Preannouncement"
  Consignment:
    required:
    - isDirectTransfer
    - commodities
    - reservation
    type: object
    properties:
      status:
        type: string
      direction:
        type: string
      terms:
        type: string
      isDirectTransfer:
        type: boolean
      bulkchainReference:
        type: string
      stakeholders:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/Stakeholder"
      seaVoyage:
        "$ref": "#/definitions/SeaVoyage"
      commodities:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/Commodity"
      reservation:
        "$ref": "#/definitions/Reservation"
  Preannouncement:
    required:
    - visit
    - exchange
    type: object
    properties:
      preannouncementId:
        format: uuid
        type: string
      preannouncementReference:
        type: string
      status:
        type: string
      visit:
        "$ref": "#/definitions/Visit"
      exchange:
        "$ref": "#/definitions/Exchange"
  Stakeholder:
    required:
    - isPublic
    type: object
    properties:
      type:
        type: string
      isPublic:
        type: boolean
      isOwner:
        type: boolean
      identification:
        "$ref": "#/definitions/StakeholderIdentification"
      privateReference:
        type: string
  SeaVoyage:
    required:
    - portOfLoading
    type: object
    properties:
      blNumber:
        type: string
      bookingNumber:
        type: string
      vessel:
        "$ref": "#/definitions/Vessel"
      vesselStay:
        "$ref": "#/definitions/VesselStay"
      portOfLoading:
        "$ref": "#/definitions/Port"
      portOfDischarge:
        "$ref": "#/definitions/Port"
  Commodity:
    required:
    - commodityType
    - harmonizedCode
    - isHazardous
    - quantity
    - weights
    type: object
    properties:
      commodityType:
        type: string
      harmonizedCode:
        type: string
      isHazardous:
        type: boolean
      references:
        uniqueItems: false
        type: array
        items:
          type: string
      description:
        type: string
      quantity:
        format: int32
        maximum: 2147483647
        minimum: 1
        type: integer
      weights:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/Weight"
      dimensions:
        "$ref": "#/definitions/Dimensions"
  Reservation:
    type: object
    properties:
      reservationStartTime:
        format: date-time
        type: string
      reservationEndTime:
        format: date-time
        type: string
      conveyances:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/ReservationConveyance"
  Visit:
    required:
    - conveyance
    type: object
    properties:
      conveyance:
        "$ref": "#/definitions/VisitConveyance"
      isDirectTransfer:
        type: boolean
      stay:
        "$ref": "#/definitions/VesselStay"
  Exchange:
    type: object
    properties:
      goodsItems:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/GoodsItem"
      marksAndNumbers:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/MarkAndNumber"
      handlingInstructions:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/HandlingInstruction"
      packaging:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/Package"
  StakeholderIdentification:
    type: object
    properties:
      nxtEntityId:
        type: string
      name:
        type: string
      vat:
        type: string
      eori:
        type: string
  Vessel:
    type: object
    properties:
      name:
        type: string
      imo:
        type: string
      callSign:
        type: string
  VesselStay:
    type: object
    properties:
      stayNumber:
        type: string
      eta:
        format: date-time
        type: string
      ata:
        format: date-time
        type: string
      etd:
        format: date-time
        type: string
      atd:
        format: date-time
        type: string
  Port:
    type: object
    properties:
      nxtLocationId:
        type: string
      unlocode:
        type: string
      terminalCode:
        type: string
  Weight:
    required:
    - weightValue
    - weightUom
    type: object
    properties:
      weightValue:
        format: double
        minimum: 1
        type: number
      weightUom:
        type: string
  Dimensions:
    type: object
    properties:
      lengths:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/Length"
      heights:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/Height"
      widths:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/Width"
  ReservationConveyance:
    type: object
    properties:
      modus:
        type: string
      identification:
        type: string
      type:
        type: string
      voyage:
        type: string
      call:
        type: string
      transportedWeight:
        "$ref": "#/definitions/Weight"
      operator:
        "$ref": "#/definitions/StakeholderIdentification"
  VisitConveyance:
    required:
    - modus
    type: object
    properties:
      modus:
        type: string
      carriages:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/Carriage"
      call:
        type: string
      operator:
        "$ref": "#/definitions/StakeholderIdentification"
  GoodsItem:
    required:
    - harmonizedCode
    - isHazardous
    - quantity
    - dimensions
    type: object
    properties:
      references:
        uniqueItems: false
        type: array
        items:
          type: string
      harmonizedCode:
        type: string
      description:
        type: string
      isHazardous:
        type: boolean
      quantity:
        format: int32
        maximum: 2147483647
        minimum: 1
        type: integer
      weights:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/Weight"
      dimensions:
        "$ref": "#/definitions/Dimensions"
      damages:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/Damage"
      storageLocations:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/Storage"
      customs:
        "$ref": "#/definitions/Customs"
  MarkAndNumber:
    type: object
    properties:
      markingTypeCode:
        type: string
      marking:
        type: string
  HandlingInstruction:
    type: object
    properties:
      handlingInstructionCode:
        type: string
      handlingInstructionName:
        type: string
      handlingInstructionDescription:
        type: string
      handlingInstructionUrl:
        type: string
      handlingInstructionFile:
        type: string
  Package:
    required:
    - sequenceId
    - packageType
    - numberOfPackages
    type: object
    properties:
      sequenceId:
        format: int32
        type: integer
      packageType:
        type: string
      numberOfPackages:
        format: int32
        type: integer
      contents:
        type: string
  Length:
    required:
    - lengthValue
    - lengthUom
    type: object
    properties:
      lengthValue:
        format: double
        minimum: 1
        type: number
      lengthUom:
        type: string
  Height:
    required:
    - heightValue
    - heightUom
    type: object
    properties:
      heightValue:
        format: double
        minimum: 1
        type: number
      heightUom:
        type: string
  Width:
    required:
    - widthValue
    - widthUom
    type: object
    properties:
      widthValue:
        format: double
        minimum: 1
        type: number
      widthUom:
        type: string
  Carriage:
    required:
    - type
    type: object
    properties:
      type:
        type: string
      identification:
        type: string
  Damage:
    required:
    - code
    type: object
    properties:
      code:
        type: string
      description:
        type: string
      quantity:
        format: int32
        type: integer
  Storage:
    type: object
    properties:
      terminalCode:
        type: string
      locationCode:
        type: string
      description:
        type: string
  Customs:
    type: object
    properties:
      economicNationality:
        type: string
      mrn:
        type: string
      customsStatus:
        type: string
  PreannouncementPatch:
    type: object
    properties:
      status:
        type: string
      remark:
        type: string
      visit:
        "$ref": "#/definitions/VisitPatch"
  VisitPatch:
    type: object
    properties:
      stay:
        "$ref": "#/definitions/StayPatch"
  StayPatch:
    type: object
    properties:
      ata:
        format: date-time
        type: string
      atd:
        format: date-time
        type: string
  StakeholderDetails:
    type: object
    properties:
      identification:
        "$ref": "#/definitions/StakeholderIdentification"
      roles:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/Role"
  Role:
    type: object
    properties:
      name:
        type: string
      description:
        type: string
      asset:
        type: string
  User:
    type: object
    properties:
      id:
        type: string
      email:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      subdivision:
        type: string
      state:
        "$ref": "#/definitions/UserState"
      roles:
        uniqueItems: false
        type: array
        items:
          "$ref": "#/definitions/UserRole"
      dateAdded:
        format: date-time
        type: string
      nxtEntityId:
        type: string
  UserState:
    type: object
    properties:
      id:
        format: int32
        type: integer
      name:
        type: string
  UserRole:
    type: object
    properties:
      id:
        format: int32
        type: integer
      name:
        type: string
      assetName:
        type: string
securityDefinitions:
  Bearer:
    name: Authorization
    in: header
    type: apiKey
    description: 'JWT Authorization header using the Bearer scheme. Example: "Authorization:
      Bearer {token}"'
