swagger: '2.0'
info:
  version: v1
  title: NxtPort Bulkchain API
  termsOfService: 'https://www.nxtport.eu/General-Terms-And-Conditions'
  contact:
    email: support@nxtport.eu
host: api.nxtport.eu
basePath: /bulkchain/v1
schemes:
  - https
paths:
  /order/types:
    get:
      tags:
        - Enum
      summary: Get all available order types
      operationId: GetAvailableOrderTypes
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: string
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  /visit/types:
    get:
      tags:
        - Enum
      summary: Get all available visit types
      operationId: GetAvailableVisitTypes
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: string
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  /order/terms:
    get:
      tags:
        - Enum
      summary: Get all available terms
      operationId: GetAvailableTerms
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: string
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  /stakeholder/roles:
    get:
      tags:
        - Enum
      summary: Get all available stakeholder roles
      operationId: GetAvailableRoles
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: string
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  /order/states:
    get:
      tags:
        - Enum
      summary: Get all available order states
      operationId: GetAvailableStates
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              type: string
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  /healthz:
    get:
      tags:
        - Health
      operationId: Healthz
      produces:
        - text/plain
        - application/json
        - text/json
      parameters:
        - in: query
          name: authorizationKey
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/HealthResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ProblemDetails'
        '503':
          description: Server Error
          schema:
            $ref: '#/definitions/HealthResponse'
  '/orders/{bulkchainid}':
    get:
      tags:
        - Order
      summary: Get a single order
      operationId: GetOrder
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: query
          name: view
          description: ''
          type: string
        - in: query
          name: version
          description: ''
          type: integer
          format: int32
        - in: query
          name: state
          description: ''
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Order'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
    patch:
      tags:
        - Order
      summary: Update an order
      operationId: PatchOrder
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: query
          name: publish
          description: ''
          type: boolean
          default: false
        - in: query
          name: publishvisits
          description: ''
          type: boolean
          default: false
        - in: query
          name: nextState
          description: ''
          type: boolean
          default: false
        - in: query
          name: silentUpdate
          description: ''
          type: boolean
          default: false
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/Order'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Order'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
    delete:
      tags:
        - Order
      summary: Delete an order
      operationId: DeleteOrder
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  /orders:
    get:
      tags:
        - Order
      summary: Get all orders of which you are a stakeholder
      operationId: GetOrders
      produces:
        - application/json
      parameters:
        - in: query
          name: orderType
          description: ''
          type: string
        - in: query
          name: published
          description: ''
          type: boolean
        - in: query
          name: privateReference
          description: ''
          type: string
        - in: query
          name: page
          description: ''
          type: integer
          format: int32
          default: 1
        - in: query
          name: pageSize
          description: ''
          type: integer
          format: int32
          default: 25
        - in: query
          name: terms
          description: ''
          type: string
        - in: query
          name: terminalName
          description: ''
          type: string
        - in: query
          name: shippingAgentName
          description: ''
          type: string
        - in: query
          name: forwarderName
          description: ''
          type: string
        - in: query
          name: portOfDestination
          description: ''
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OrdersPaging'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
    post:
      tags:
        - Order
      summary: Create a new order
      operationId: PostOrder
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - application/json
      parameters:
        - in: query
          name: publish
          description: ''
          type: boolean
          default: false
        - in: query
          name: publishvisits
          description: ''
          type: boolean
          default: false
        - in: query
          name: nextState
          description: ''
          type: boolean
          default: false
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/Order'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/Order'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  '/orders/{bulkchainid}/history':
    get:
      tags:
        - Order
      summary: Get an overview of all order versions
      operationId: GetOrderHistory
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: query
          name: stateChangesOnly
          description: ''
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OrderHistory'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  '/orders/{bulkchainid}/changes':
    get:
      tags:
        - Order
      summary: Get the differences between two order versions.
      operationId: GetOrderChanges
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: query
          name: fromVersion
          description: ''
          type: integer
          format: int32
        - in: query
          name: toVersion
          description: ''
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OrderChanges'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/OrderChanges'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  '/orders/{bulkchainid}/reservation/goods/{goodsitemid}':
    get:
      tags:
        - ReservationGoods
      summary: Get a single reservation goodsitem
      operationId: GetReservationGood
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: path
          name: goodsitemid
          description: ''
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GoodsItem'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
    patch:
      tags:
        - ReservationGoods
      summary: Update a reservation goodsitem
      operationId: PatchReservationGood
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: path
          name: goodsitemid
          description: ''
          required: true
          type: integer
          format: int32
        - in: query
          name: silentUpdate
          description: ''
          type: boolean
          default: false
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/GoodsItem'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GoodsItem'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
    delete:
      tags:
        - ReservationGoods
      summary: Delete a reservation goodsitem
      operationId: DeleteReservationGood
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: path
          name: goodsitemid
          description: ''
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Success
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  '/orders/{bulkchainid}/reservation/goods':
    get:
      tags:
        - ReservationGoods
      summary: Get all available reservation goodsitems for an order
      operationId: GetReservationGoods
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: query
          name: page
          description: ''
          type: integer
          format: int32
          default: 1
        - in: query
          name: pageSize
          description: ''
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GoodsPaging'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
    post:
      tags:
        - ReservationGoods
      summary: Create a new reservation goodsitem
      operationId: PostReservationGood
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/GoodsItem'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GoodsItem'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  '/orders/{bulkchainid}/stakeholders/{nxtentityid}':
    get:
      tags:
        - Stakeholder
      summary: Get a single stakeholder of an order
      operationId: GetStakeholder
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: path
          name: nxtentityid
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Stakeholder'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
    delete:
      tags:
        - Stakeholder
      summary: Remove a stakeholder of an order
      operationId: DeleteStakeholder
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: path
          name: nxtentityid
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Stakeholder'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
    patch:
      tags:
        - Stakeholder
      summary: Update a single stakeholder of an order
      operationId: PatchStakeholder
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: path
          name: nxtentityid
          description: ''
          required: true
          type: string
        - in: query
          name: silentUpdate
          description: ''
          type: boolean
          default: false
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/Stakeholder'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Stakeholder'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  '/orders/{bulkchainid}/stakeholders':
    get:
      tags:
        - Stakeholder
      summary: Get all stakeholders of an order
      operationId: GetStakeholders
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Stakeholder'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
    post:
      tags:
        - Stakeholder
      summary: Add a new stakeholder to an order
      operationId: PostStakeholder
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/Stakeholder'
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Stakeholder'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  /stakeholders:
    get:
      tags:
        - Stakeholder
      summary: Get a list of possible stakeholders (entities you have a handshake with)
      operationId: GetAvailableStakeholders
      produces:
        - application/json
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/EntityInformation'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  '/orders/{bulkchainid}/visits/{visitid}':
    get:
      tags:
        - Visit
      summary: Get a single visit
      operationId: GetVisit
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: path
          name: visitid
          description: ''
          required: true
          type: integer
          format: int32
        - in: query
          name: view
          description: ''
          type: string
        - in: query
          name: version
          description: ''
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Visit'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponseDto'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponseDto'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
    patch:
      tags:
        - Visit
      summary: Update a visit
      operationId: PatchVisit
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: path
          name: visitid
          description: ''
          required: true
          type: integer
          format: int32
        - in: query
          name: publish
          description: ''
          type: boolean
          default: false
        - in: query
          name: confirm
          description: ''
          type: boolean
          default: false
        - in: query
          name: silentUpdate
          description: ''
          type: boolean
          default: false
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/Visit'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Visit'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponseDto'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponseDto'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
    delete:
      tags:
        - Visit
      summary: Delete a visit
      operationId: DeleteVisit
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: path
          name: visitid
          description: ''
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponseDto'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponseDto'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  '/orders/{bulkchainid}/visits':
    get:
      tags:
        - Visit
      summary: Get all visits of an order
      operationId: GetVisits
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: query
          name: visittype
          description: ''
          type: string
        - in: query
          name: hasarrived
          description: ''
          type: boolean
        - in: query
          name: page
          description: ''
          type: integer
          format: int32
          default: 1
        - in: query
          name: pageSize
          description: ''
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/Visit'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponseDto'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponseDto'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
    post:
      tags:
        - Visit
      summary: Create a new visit
      operationId: PostVisit
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: query
          name: publish
          description: ''
          type: boolean
          default: false
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/Visit'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/Visit'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponseDto'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponseDto'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  /visits:
    get:
      tags:
        - Visit
      summary: Get an overview of all visits of all orders of which you are a stakeholder
      operationId: GetVisitsSummary
      produces:
        - application/json
      parameters:
        - in: query
          name: ordertypes
          description: ''
          type: array
          items:
            type: string
        - in: query
          name: orderreference
          description: ''
          type: string
        - in: query
          name: vesselimo
          description: ''
          type: string
        - in: query
          name: stayNumber
          description: ''
          type: string
        - in: query
          name: types
          description: ''
          type: array
          items:
            type: string
        - in: query
          name: reference
          description: ''
          type: string
        - in: query
          name: operatorname
          description: ''
          type: string
        - in: query
          name: estimatedarrivalfrom
          description: ''
          type: string
          format: date-time
        - in: query
          name: estimatedarrivalto
          description: ''
          type: string
          format: date-time
        - in: query
          name: originunlocode
          description: ''
          type: string
        - in: query
          name: originberth
          description: ''
          type: string
        - in: query
          name: originAddressLines
          description: ''
          type: string
        - in: query
          name: destinationlocode
          description: ''
          type: string
        - in: query
          name: destinationberth
          description: ''
          type: string
        - in: query
          name: destinationAddressLines
          description: ''
          type: string
        - in: query
          name: hasarrived
          description: ''
          type: boolean
        - in: query
          name: published
          description: ''
          type: boolean
        - in: query
          name: hasUnexpectedChanges
          description: ''
          type: boolean
        - in: query
          name: hasUnresolvedChanges
          description: ''
          type: boolean
        - in: query
          name: page
          description: ''
          type: integer
          format: int32
          default: 1
        - in: query
          name: pageSize
          description: ''
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VisitSummaryPaging'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponseDto'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponseDto'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  '/orders/{bulkchainid}/visits/{visitid}/unexpectedChanges':
    get:
      tags:
        - Visit
      summary: Get a list of all unexpected changes made to a visit.
      operationId: GetUnexpectedChanges
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: path
          name: visitid
          description: ''
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/UnexpectedChange'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponseDto'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponseDto'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  '/orders/{bulkchainid}/visits/{visitid}/unexpectedChanges/{version}':
    put:
      tags:
        - Visit
      summary: Mark an unexpected change as resolved
      operationId: ResolveUnexpectedChange
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: path
          name: visitid
          description: ''
          required: true
          type: integer
          format: int32
        - in: path
          name: version
          description: ''
          required: true
          type: integer
          format: int32
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/ResolveUnexpectedChange'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResponseDto'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponseDto'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  '/orders/{bulkchainid}/visits/{visitid}/attachments':
    post:
      tags:
        - VisitAttachments
      summary: Upload a base64 attachment and link it to a visit
      operationId: UploadVisitAttachment
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: path
          name: visitid
          description: ''
          required: true
          type: integer
          format: int32
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/File'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/Attachment'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  '/orders/{bulkchainid}/visits/{visitid}/attachments/{attachmentid}':
    get:
      tags:
        - VisitAttachments
      summary: Retrieve a base64 attachment
      operationId: GetVisitAttachment
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: path
          name: visitid
          description: ''
          required: true
          type: integer
          format: int32
        - in: path
          name: attachmentid
          description: ''
          required: true
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/File'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
    delete:
      tags:
        - VisitAttachments
      summary: Unlink an attachment from a visit
      operationId: DeleteVisitAttachment
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: path
          name: visitid
          description: ''
          required: true
          type: integer
          format: int32
        - in: path
          name: attachmentid
          description: ''
          required: true
          type: string
          format: uuid
      responses:
        '204':
          description: Success
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  '/orders/{bulkchainid}/visits/{visitid}/goods':
    get:
      tags:
        - VisitGoods
      summary: Get all goodsitems of a visit
      operationId: GetVisitGoods
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: path
          name: visitid
          description: ''
          required: true
          type: integer
          format: int32
        - in: query
          name: page
          description: ''
          type: integer
          format: int32
          default: 1
        - in: query
          name: pageSize
          description: ''
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Success
          schema:
            type: array
            items:
              $ref: '#/definitions/GoodsItem'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
    post:
      tags:
        - VisitGoods
      summary: Add a new goodsitem to a visit
      operationId: PostVisitGoodsItem
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: path
          name: visitid
          description: ''
          required: true
          type: integer
          format: int32
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/GoodsItem'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/GoodsItem'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  '/orders/{bulkchainid}/visits/{visitid}/goods/{goodsitemid}':
    get:
      tags:
        - VisitGoods
      summary: Get a single goodsitem
      operationId: GetVisitGoodsItem
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: path
          name: visitid
          description: ''
          required: true
          type: integer
          format: int32
        - in: path
          name: goodsitemid
          description: ''
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GoodsItem'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
    patch:
      tags:
        - VisitGoods
      summary: Update a goodsitem
      operationId: PatchVisitGoodsItem
      consumes:
        - application/json-patch+json
        - application/json
        - text/json
        - application/*+json
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: path
          name: visitid
          description: ''
          required: true
          type: integer
          format: int32
        - in: path
          name: goodsitemid
          description: ''
          required: true
          type: integer
          format: int32
        - in: query
          name: confirm
          description: ''
          type: boolean
          default: false
        - in: query
          name: silentUpdate
          description: ''
          type: boolean
          default: false
        - in: body
          name: body
          description: ''
          schema:
            $ref: '#/definitions/GoodsItem'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GoodsItem'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/ErrorResponseDto'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
    delete:
      tags:
        - VisitGoods
      summary: Delete a goodsitem
      operationId: DeleteVisitGoodsItem
      produces:
        - application/json
      parameters:
        - in: path
          name: bulkchainid
          description: ''
          required: true
          type: string
        - in: path
          name: visitid
          description: ''
          required: true
          type: integer
          format: int32
        - in: path
          name: goodsitemid
          description: ''
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Success
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
  /goods:
    get:
      tags:
        - VisitGoods
      summary: Get an overview of all goods of all visits of all orders of which you are a stakeholder
      operationId: GetGoodsSummary
      produces:
        - application/json
      parameters:
        - in: query
          name: mrn
          description: ''
          type: string
        - in: query
          name: page
          description: ''
          type: integer
          format: int32
          default: 1
        - in: query
          name: pageSize
          description: ''
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/VisitSummaryPaging'
        '500':
          description: Server Error
          schema:
            $ref: '#/definitions/ErrorResponseDto'
definitions:
  ErrorResponseDto:
    type: object
    properties:
      error:
        description: Gets or sets the error.
        type: array
        items:
          type: string
      identifier:
        format: uuid
        description: Gets the identifier.
        type: string
  HealthResponse:
    type: object
    properties:
      status:
        format: int32
        type: integer
      type:
        type: string
      title:
        type: string
      detail:
        type: string
  ProblemDetails:
    type: object
    properties:
      type:
        type: string
      title:
        type: string
      status:
        format: int32
        type: integer
      detail:
        type: string
      instance:
        type: string
    additionalProperties:
      type: object
  OrderStateEnum:
    format: int32
    enum:
      - 0
      - 1
      - 2
      - 3
    type: integer
  EntityIdentification:
    type: object
    properties:
      nxtEntityId:
        type: string
      name:
        type: string
      vat:
        type: string
      eori:
        type: string
  Property:
    type: object
    properties:
      key:
        type: string
      value:
        type: string
  ContactPerson:
    type: object
    properties:
      name:
        type: string
      email:
        type: string
      phoneNumber:
        type: string
  Stakeholder:
    type: object
    properties:
      roles:
        type: array
        items:
          type: string
      isPublic:
        type: boolean
      privateReference:
        type: string
      identification:
        $ref: '#/definitions/EntityIdentification'
      orderProperties:
        type: array
        items:
          $ref: '#/definitions/Property'
      contactPerson:
        $ref: '#/definitions/ContactPerson'
  Carriage:
    type: object
    properties:
      type:
        type: string
      identification:
        type: string
  Measurement:
    type: object
    properties:
      value:
        format: double
        type: number
      unit:
        type: string
      measurementType:
        type: string
  Measurements:
    type: object
    properties:
      weights:
        type: array
        items:
          $ref: '#/definitions/Measurement'
      lengths:
        type: array
        items:
          $ref: '#/definitions/Measurement'
      heights:
        type: array
        items:
          $ref: '#/definitions/Measurement'
      widths:
        type: array
        items:
          $ref: '#/definitions/Measurement'
  Damage:
    type: object
    properties:
      code:
        type: string
      description:
        type: string
      quantity:
        format: int32
        type: integer
  StorageLocation:
    type: object
    properties:
      terminalCode:
        type: string
      locationCode:
        type: string
      description:
        type: string
  Customs:
    type: object
    properties:
      economicNationality:
        type: string
      mrn:
        type: string
      customsStatus:
        type: string
      value:
        format: double
        type: number
      currency:
        type: string
  GoodsItem:
    type: object
    properties:
      id:
        format: int32
        type: integer
        readOnly: true
      orderId:
        type: string
        readOnly: true
      visitId:
        format: int32
        type: integer
        readOnly: true
      confirmedOn:
        format: date-time
        type: string
        readOnly: true
      type:
        type: string
      harmonizedCode:
        type: string
      description:
        type: string
      isHazardous:
        type: boolean
      quantity:
        format: int32
        type: integer
      measurements:
        $ref: '#/definitions/Measurements'
      damages:
        type: array
        items:
          $ref: '#/definitions/Damage'
      storageLocations:
        type: array
        items:
          $ref: '#/definitions/StorageLocation'
      customs:
        $ref: '#/definitions/Customs'
      properties:
        type: array
        items:
          $ref: '#/definitions/Property'
  Mark:
    type: object
    properties:
      markingTypeCode:
        type: string
      marking:
        type: string
  HandlingInstruction:
    type: object
    properties:
      handlingInstructionCode:
        type: string
      handlingInstructionName:
        type: string
      handlingInstructionDescription:
        type: string
      handlingInstructionUrl:
        type: string
  LoadingInstruction:
    type: object
    properties:
      loadingInstructionCode:
        type: string
      loadingInstructionName:
        type: string
      loadingInstructionDescription:
        type: string
      loadingInstructionUrl:
        type: string
  Package:
    type: object
    properties:
      sequenceId:
        format: int32
        type: integer
      packageReference:
        type: string
      packageType:
        type: string
      numberOfPackages:
        format: int32
        type: integer
      contents:
        type: string
  Attachment:
    type: object
    properties:
      id:
        format: uuid
        type: string
      type:
        type: string
      path:
        type: string
      createdOn:
        format: date-time
        type: string
      createdBy:
        type: string
  Stay:
    type: object
    properties:
      stayNumber:
        type: string
      estimatedTimeOfArrival:
        format: date-time
        type: string
      estimatedTimeOfDeparture:
        format: date-time
        type: string
      actualTimeOfArrival:
        format: date-time
        type: string
      actualTimeOfDeparture:
        format: date-time
        type: string
  VisitLocationAddress:
    type: object
    properties:
      addressLines:
        type: string
      postalCode:
        type: string
      city:
        type: string
      stateOrRegion:
        type: string
      country:
        type: string
  VisitLocationPortLocation:
    type: object
    properties:
      unlocode:
        type: string
      berth:
        type: string
  VisitLocation:
    type: object
    properties:
      address:
        $ref: '#/definitions/VisitLocationAddress'
      portLocation:
        $ref: '#/definitions/VisitLocationPortLocation'
  Visit:
    type: object
    properties:
      id:
        format: int32
        type: integer
        readOnly: true
      reference:
        type: string
      isDirectTransfer:
        type: boolean
      isBarge:
        type: boolean
      isVessel:
        type: boolean
      isRail:
        type: boolean
      isTruck:
        type: boolean
      isCoaster:
        type: boolean
      carriages:
        type: array
        items:
          $ref: '#/definitions/Carriage'
      goods:
        type: array
        items:
          $ref: '#/definitions/GoodsItem'
      marksAndNumbers:
        type: array
        items:
          $ref: '#/definitions/Mark'
      handlingInstructions:
        type: array
        items:
          $ref: '#/definitions/HandlingInstruction'
      loadingInstructions:
        type: array
        items:
          $ref: '#/definitions/LoadingInstruction'
      packaging:
        type: array
        items:
          $ref: '#/definitions/Package'
      attachments:
        type: array
        items:
          $ref: '#/definitions/Attachment'
      operator:
        $ref: '#/definitions/EntityIdentification'
      stay:
        $ref: '#/definitions/Stay'
      origin:
        $ref: '#/definitions/VisitLocation'
      destination:
        $ref: '#/definitions/VisitLocation'
      voyageNumber:
        type: string
      vesselIMO:
        type: string
      blNumber:
        type: string
      loadingPermitNumber:
        type: string
      bookingNumber:
        type: string
      createdByNxtEntityId:
        type: string
        readOnly: true
      publishedOn:
        format: date-time
        type: string
        readOnly: true
      confirmedOn:
        format: date-time
        type: string
        readOnly: true
      updatedOn:
        format: date-time
        type: string
        readOnly: true
      createdOn:
        format: date-time
        type: string
        readOnly: true
      properties:
        type: array
        items:
          $ref: '#/definitions/Property'
  ReservationSeaVoyage:
    type: object
    properties:
      portOfDestination:
        type: string
      shippingLine:
        type: string
      vesselName:
        type: string
  Reservation:
    type: object
    properties:
      start:
        format: date-time
        type: string
      end:
        format: date-time
        type: string
      goods:
        type: array
        items:
          $ref: '#/definitions/GoodsItem'
      isBarge:
        type: boolean
      isVessel:
        type: boolean
      isRail:
        type: boolean
      isTruck:
        type: boolean
      isCoaster:
        type: boolean
      seaVoyage:
        $ref: '#/definitions/ReservationSeaVoyage'
      properties:
        type: array
        items:
          $ref: '#/definitions/Property'
  Order:
    type: object
    properties:
      id:
        type: string
        readOnly: true
      version:
        format: int32
        type: integer
        readOnly: true
      type:
        type: string
      state:
        $ref: '#/definitions/OrderStateEnum'
      isVisitListComplete:
        type: boolean
      stakeholders:
        type: array
        items:
          $ref: '#/definitions/Stakeholder'
      visits:
        type: array
        items:
          $ref: '#/definitions/Visit'
      reservation:
        $ref: '#/definitions/Reservation'
      terms:
        type: string
      createdByNxtEntityId:
        type: string
        readOnly: true
      publishedOn:
        format: date-time
        type: string
        readOnly: true
      updatedOn:
        format: date-time
        type: string
        readOnly: true
      createdOn:
        format: date-time
        type: string
        readOnly: true
  Pagination:
    type: object
    properties:
      size:
        format: int32
        type: integer
      totalElements:
        format: int32
        type: integer
      totalPages:
        format: int32
        type: integer
      number:
        format: int32
        type: integer
  OrdersPaging:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/Order'
      _page:
        $ref: '#/definitions/Pagination'
  OrderHistoryVersion:
    type: object
    properties:
      version:
        format: int32
        type: integer
      state:
        $ref: '#/definitions/OrderStateEnum'
      stateChanged:
        type: boolean
      createdOn:
        format: date-time
        type: string
  OrderHistory:
    type: object
    properties:
      orderId:
        type: string
      versions:
        type: array
        items:
          $ref: '#/definitions/OrderHistoryVersion'
  OrderChange:
    type: object
    properties:
      visitId:
        format: int32
        type: integer
      goodsItemId:
        format: int32
        type: integer
      reservationGoodsItemId:
        format: int32
        type: integer
      path:
        type: string
      op:
        type: string
      from:
        type: string
      value:
        type: object
  OrderChanges:
    type: object
    properties:
      changes:
        type: array
        items:
          $ref: '#/definitions/OrderChange'
  GoodsPaging:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/GoodsItem'
      _page:
        $ref: '#/definitions/Pagination'
  RoleTypeEnum:
    format: int32
    enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      - 6
      - 7
    type: integer
  EntityInformation:
    type: object
    properties:
      roles:
        type: array
        items:
          $ref: '#/definitions/RoleTypeEnum'
      nxtEntityId:
        type: string
      name:
        type: string
      vat:
        type: string
      eori:
        type: string
  VisitSummary:
    type: object
    properties:
      orderId:
        type: string
      orderPrivateReference:
        type: string
      orderType:
        type: string
      hasUnexpectedChanges:
        type: boolean
      hasUnresolvedChanges:
        type: boolean
      id:
        format: int32
        type: integer
        readOnly: true
      reference:
        type: string
      isDirectTransfer:
        type: boolean
      isBarge:
        type: boolean
      isVessel:
        type: boolean
      isRail:
        type: boolean
      isTruck:
        type: boolean
      isCoaster:
        type: boolean
      carriages:
        type: array
        items:
          $ref: '#/definitions/Carriage'
      goods:
        type: array
        items:
          $ref: '#/definitions/GoodsItem'
      marksAndNumbers:
        type: array
        items:
          $ref: '#/definitions/Mark'
      handlingInstructions:
        type: array
        items:
          $ref: '#/definitions/HandlingInstruction'
      loadingInstructions:
        type: array
        items:
          $ref: '#/definitions/LoadingInstruction'
      packaging:
        type: array
        items:
          $ref: '#/definitions/Package'
      attachments:
        type: array
        items:
          $ref: '#/definitions/Attachment'
      operator:
        $ref: '#/definitions/EntityIdentification'
      stay:
        $ref: '#/definitions/Stay'
      origin:
        $ref: '#/definitions/VisitLocation'
      destination:
        $ref: '#/definitions/VisitLocation'
      voyageNumber:
        type: string
      vesselIMO:
        type: string
      blNumber:
        type: string
      loadingPermitNumber:
        type: string
      bookingNumber:
        type: string
      createdByNxtEntityId:
        type: string
        readOnly: true
      publishedOn:
        format: date-time
        type: string
        readOnly: true
      confirmedOn:
        format: date-time
        type: string
        readOnly: true
      updatedOn:
        format: date-time
        type: string
        readOnly: true
      createdOn:
        format: date-time
        type: string
        readOnly: true
      properties:
        type: array
        items:
          $ref: '#/definitions/Property'
  VisitSummaryPaging:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: '#/definitions/VisitSummary'
      _page:
        $ref: '#/definitions/Pagination'
  UnexpectedChange:
    type: object
    properties:
      orderVersion:
        format: int32
        type: integer
      createdOn:
        format: date-time
        type: string
      createdByEntityName:
        type: string
      resolved:
        type: boolean
  ResolveUnexpectedChange:
    type: object
    properties:
      resolved:
        type: boolean
  File:
    type: object
    properties:
      type:
        type: string
      data:
        type: string
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
    description: JWT authorization token using the Bearer scheme. Different for each user of the API. Keep in mind that you have to put the word “Bearer” and then a space in front of the access token. For example "Bearer f8e6d39a81fc4d31957086fe03630858".
  Subscription:
    type: apiKey
    name: Ocp-Apim-Subscription-Key
    in: header
    description: API subscription key. Assigned by NxtPort to your organization.
security:
  - Bearer: []
    Subscription: []
