openapi: 3.0.1
info:
  title: eEcd API
  version: v1
  description: ''
  termsOfService: 'https://www.nxtport.eu/General-Terms-And-Conditions'
  contact:
    email: support@nxtport.eu
schemes:
  - https
host: api.nxtport.eu
basePath: /eecd
security:
  - Authorization: []
    Subscription: []
securityDefinitions:
  Authorization:
    name: Authorization
    in: header
    type: apiKey
    description: 'JWT authorization token using the Bearer scheme. Different for each user of the API. Keep in mind that you have to put the word "Bearer" and then a space in front of the access token. For example "Bearer f8e6d39a81fc4d31957086fe03630858".'
  Subscription:
    type: apiKey
    in: header
    name: Ocp-Apim-Subscription-Key
    description: 'API subscription key. Assigned by NxtPort to your organization.'
paths:
  /v1/equipment/{equipmentId}/history:
    get:
      tags:
        - Booklets
      summary: Opens the booklet to view the load- and cleaning history.
      description: "<br>\r\n                    View the equipment history. Depending on your license and your relation to the equipment, you may see\r\n                    only certain parts of the booklet. Cleaners may only open the booklet if they have an active cleaning,\r\n                    loaders only when there's an active load. Equipment operators may view their equipment history at all\r\n                    times.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n    <li>Equipment Operator</li>\r\n    <li>Loader</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n    <li>Despatcher</li>\r\n    <li>Equipment Manager</li>\r\n    <li>Loading Operator</li>\r\n    <li>Viewer</li>\r\n  </ul>\r\n"
      parameters:
        - name: equipmentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BookletData.EquipmentHistory'
            application/json:
              schema:
                $ref: '#/components/schemas/BookletData.EquipmentHistory'
            text/json:
              schema:
                $ref: '#/components/schemas/BookletData.EquipmentHistory'
            text/csv:
              schema:
                $ref: '#/components/schemas/BookletData.EquipmentHistory'
  /v1/cleanings/locations:
    post:
      tags:
        - CleaningLocations
      summary: Create a new cleaning location.
      description: "<br>\r\n                    Each cleaning organisation should have at least one clenaing location, which is used to indicate\r\n                    where cleanings were performed. A cleaning action cannot be started without also specifying the\r\n                    location. Organisations that have access to the cleaning, will also be able to see the details\r\n                    of the location, including address and phone number.\r\n                \r\n<br>\r\n                    The following address lines are permitted:\r\n                    <ul><li>Street and number</li><li>City</li><li>PostalCode</li><li>Country</li></ul>\r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n    <li>Location Manager</li>\r\n  </ul>\r\n"
      requestBody:
        description: The body containing the details of the location.
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/CleaningLocation.CleaningLocationCreate'
          text/xml:
            schema:
              $ref: '#/components/schemas/CleaningLocation.CleaningLocationCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/CleaningLocation.CleaningLocationCreate'
          text/json:
            schema:
              $ref: '#/components/schemas/CleaningLocation.CleaningLocationCreate'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CleaningLocation.CleaningLocationCreate'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            application/json:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            text/json:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            text/csv:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
  /v1/cleanings/locations/{id}:
    get:
      tags:
        - CleaningLocations
      summary: Read a specific cleaning location.
      description: "<br>\r\n                    Reads a specific cleaning location. Also includes a list of all users that have access to this\r\n                    location.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Location Manager</li>\r\n  </ul>\r\n"
      parameters:
        - name: id
          in: path
          description: The ID of the cleaning location.
          required: true
          schema:
            type: string
            description: The ID of the cleaning location.
            format: uuid
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            application/json:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            text/json:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            text/csv:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
    put:
      tags:
        - CleaningLocations
      summary: Update a specific cleaning location.
      description: "<br>\r\n                    Updates a specific cleaning location.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Location Manager</li>\r\n  </ul>\r\n"
      parameters:
        - name: id
          in: path
          description: The ID of the cleaning location.
          required: true
          schema:
            type: string
            description: The ID of the cleaning location.
            format: uuid
      requestBody:
        description: The body containing the updated details.
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/CleaningLocation.CleaningLocationUpdate'
          text/xml:
            schema:
              $ref: '#/components/schemas/CleaningLocation.CleaningLocationUpdate'
          application/json:
            schema:
              $ref: '#/components/schemas/CleaningLocation.CleaningLocationUpdate'
          text/json:
            schema:
              $ref: '#/components/schemas/CleaningLocation.CleaningLocationUpdate'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CleaningLocation.CleaningLocationUpdate'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            application/json:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            text/json:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            text/csv:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
    delete:
      tags:
        - CleaningLocations
      summary: Delete a cleaning location.
      description: "<br>\r\n                    Deletes a cleaning location.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Location Manager</li>\r\n  </ul>\r\n"
      parameters:
        - name: id
          in: path
          description: The ID of the cleaning location.
          required: true
          schema:
            type: string
            description: The ID of the cleaning location.
            format: uuid
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
            text/csv:
              schema:
                type: boolean
  /v1/cleanings/locations/organisation:
    get:
      tags:
        - CleaningLocations
      summary: Get all cleaning locations for an organisation.
      description: "<br>\r\n                    Gets a list of all cleaning locations for a given organisation, including the contact details such as\r\n                    phone number and address. Does not include the users for each location.\r\n                    location.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n    <li>EquipmentOperator</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n    <li>Location Manager</li>\r\n    <li>Equipment Manager</li>\r\n  </ul>\r\n"
      parameters:
        - name: organisationId
          in: query
          description: ''
          schema:
            type: string
            description: ''
            format: uuid
            nullable: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CleaningLocation'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CleaningLocation'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CleaningLocation'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CleaningLocation'
  /v1/cleanings/locations/{locationId}/users:
    post:
      tags:
        - CleaningLocations
      summary: Assign a user to a cleaning location.
      description: "<br>\r\n                    Assigns a user to a cleaning locations. This effectively adds the cleaning location to the list of\r\n                    available locations for this user. If the user was already added to this location before, nothing happen\r\n                    .\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Location Manager</li>\r\n  </ul>\r\n"
      parameters:
        - name: locationId
          in: path
          description: The ID of the cleaning location
          required: true
          schema:
            type: string
            description: The ID of the cleaning location
            format: uuid
      requestBody:
        description: The body containing the ID of the user.
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
          text/xml:
            schema:
              $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
          application/json:
            schema:
              $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
          text/json:
            schema:
              $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            application/json:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            text/json:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            text/csv:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
    delete:
      tags:
        - CleaningLocations
      summary: Remove a user from a cleaning location.
      description: "<br>\r\n                    Removes a user form a cleaning location, keeping them from selecting the location when starting a\r\n                    cleaning action.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Location Manager</li>\r\n  </ul>\r\n"
      parameters:
        - name: locationId
          in: path
          description: The ID of the cleaning location.
          required: true
          schema:
            type: string
            description: The ID of the cleaning location.
            format: uuid
      requestBody:
        description: The body containing the user ID.
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
          text/xml:
            schema:
              $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
          application/json:
            schema:
              $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
          text/json:
            schema:
              $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            application/json:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            text/json:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            text/csv:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
  /v1/cleanings/locations/{locationId}/users/bulk:
    post:
      tags:
        - CleaningLocations
      summary: Assign several users to the cleaning location.
      description: "<br>\r\n                    Assigns several users at once to a cleaning location. If one or more users were already added,\r\n                    they are skipped; no error will be raised.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Location Manager</li>\r\n  </ul>\r\n"
      parameters:
        - name: locationId
          in: path
          description: The ID of the cleaning location.
          required: true
          schema:
            type: string
            description: The ID of the cleaning location.
            format: uuid
      requestBody:
        description: The body containing a list of user IDs.
        content:
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
              description: The body containing a list of user IDs.
              nullable: true
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
              description: The body containing a list of user IDs.
              nullable: true
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
              description: The body containing a list of user IDs.
              nullable: true
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
              description: The body containing a list of user IDs.
              nullable: true
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
              description: The body containing a list of user IDs.
              nullable: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            application/json:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            text/json:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            text/csv:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
    delete:
      tags:
        - CleaningLocations
      summary: Remove several users from a cleaning location.
      description: "<br>\r\n                    Removes several users form a cleaning location, keeping them from selecting the location when starting\r\n                    a cleaning action.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Location Manager</li>\r\n  </ul>\r\n"
      parameters:
        - name: locationId
          in: path
          description: The ID of the location.
          required: true
          schema:
            type: string
            description: The ID of the location.
            format: uuid
      requestBody:
        description: The body containing a list of user IDs.
        content:
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
              description: The body containing a list of user IDs.
              nullable: true
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
              description: The body containing a list of user IDs.
              nullable: true
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
              description: The body containing a list of user IDs.
              nullable: true
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
              description: The body containing a list of user IDs.
              nullable: true
          application/*+json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CleaningLocationData.CleaningLocationUser'
              description: The body containing a list of user IDs.
              nullable: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            application/json:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            text/json:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
            text/csv:
              schema:
                $ref: '#/components/schemas/CleaningLocation'
  /v1/cleanings/locations/users:
    get:
      tags:
        - CleaningLocations
      summary: Get all cleaning locations for a user.
      description: "<br>\r\n                    Gets a list of all cleaning locations to which a user has access.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n    <li>Location Manager</li>\r\n  </ul>\r\n"
      parameters:
        - name: userId
          in: query
          description: The ID of the user. Optional. Takes the currently logged in user if no ID is given.
          schema:
            type: string
            description: The ID of the user. Optional. Takes the currently logged in user if no ID is given.
            format: uuid
            nullable: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CleaningLocation'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CleaningLocation'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CleaningLocation'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CleaningLocation'
  /v1/equipment/{equipmentId}/cleaningactions/request:
    post:
      tags:
        - Cleanings
      summary: Request a cleaning action.
      description: "<br>\r\n                    Requests a new cleaning action. This is required to view the booklet containing the equipment history.\r\n                    Only one active cleaning action is permitted per equipment.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Equipment Operator</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Equipment Manager</li>\r\n  </ul>\r\n"
      parameters:
        - name: equipmentId
          in: path
          description: The ID of the equipment.
          required: true
          schema:
            type: string
            description: The ID of the equipment.
            format: uuid
      requestBody:
        description: The body containing the cleaning location.
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningActionCreateRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningActionCreateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningActionCreateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningActionCreateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningActionCreateRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            application/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/csv:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
  /v1/equipment/{equipmentId}/cleaningactions/{cleaningId}/request:
    put:
      tags:
        - Cleanings
      summary: Update a cleaning action request.
      description: "<br>\r\n                    Updates a cleaning action request. This can be done to any cleaning action that has state requested.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Equipment Operator</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Equipment Manager</li>\r\n  </ul>\r\n"
      parameters:
        - name: equipmentId
          in: path
          description: The ID of the equipment.
          required: true
          schema:
            type: string
            description: The ID of the equipment.
            format: uuid
        - name: cleaningId
          in: path
          description: The ID of the cleaning request.
          required: true
          schema:
            type: string
            description: The ID of the cleaning request.
            format: uuid
      requestBody:
        description: The body containing the details of the cleaning action.
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningActionCreateRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningActionCreateRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningActionCreateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningActionCreateRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningActionCreateRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            application/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/csv:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
  /v1/equipment/{equipmentId}/cleaningactions:
    post:
      tags:
        - Cleanings
      summary: Start a cleaning action.
      description: "<br>\r\n                    Starts a new cleaning action. This is required to view the booklet containing the equipment history.\r\n                    Only one active cleaning action is permitted per equipment.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n  </ul>\r\n"
      parameters:
        - name: equipmentId
          in: path
          description: The ID of the equipment.
          required: true
          schema:
            type: string
            description: The ID of the equipment.
            format: uuid
      requestBody:
        description: The body containing the cleaning location.
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningActionCreate'
          text/xml:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningActionCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningActionCreate'
          text/json:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningActionCreate'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningActionCreate'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            application/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/csv:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
  /v1/equipment/{equipmentId}/cleaningactions/{cleaningId}:
    put:
      tags:
        - Cleanings
      summary: Update a cleaning action.
      description: "<br>\r\n                    Updates a cleaning action. This can be done to any cleaning action that has not yet been signed off by\r\n                    the driver.\r\n                \r\n<br>\r\n                    Process.RepresentativeName or Process.CreatedBy is the name of the representative of the cleaning company and\r\n                    will be shown on the eECD.\r\n                    Process.CleaningPerformedBy is the name of the cleaning company.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n  </ul>\r\n"
      parameters:
        - name: equipmentId
          in: path
          description: The ID of the equipment.
          required: true
          schema:
            type: string
            description: The ID of the equipment.
            format: uuid
        - name: cleaningId
          in: path
          description: The ID of the cleaning.
          required: true
          schema:
            type: string
            description: The ID of the cleaning.
            format: uuid
      requestBody:
        description: The body containing the details of the cleaning action.
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningUpdate'
          text/xml:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningUpdate'
          application/json:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningUpdate'
          text/json:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningUpdate'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningUpdate'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            application/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/csv:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
    get:
      tags:
        - Cleanings
      summary: Get a single cleaning action.
      description: "<br>\r\n                    Gets a single cleaning action performed on an equipment. Details include its compartments, as well as all used\r\n                    cleaning codes and comments. The\r\n                    cleaning action also specifies its type, and when it was performed.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n    <li>Loader</li>\r\n    <li>Equipment Operator</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n    <li>Despatcher</li>\r\n    <li>Equipment Manager</li>\r\n    <li>Loading Operator</li>\r\n  </ul>\r\n"
      parameters:
        - name: equipmentId
          in: path
          description: The ID of the equipment.
          required: true
          schema:
            type: string
            description: The ID of the equipment.
            format: uuid
        - name: cleaningId
          in: path
          description: The ID of the cleaning action.
          required: true
          schema:
            type: string
            description: The ID of the cleaning action.
            format: uuid
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            application/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/csv:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
  /v1/cleaningactions:
    get:
      tags:
        - Cleanings
      summary: Search through the cleanings of an organisation.
      description: "<br>\r\n                    Get all cleanings for the logged in organisation. Optionally filter by equipment, date, status or cleaning\r\n                    location.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n  </ul>\r\n"
      parameters:
        - name: search
          in: query
          description: "A search string to find specific equipment, by either license plate or container\r\nID. Optional. If given, it needs to be at least 2 characters long. Spaces and special characters are filtered\r\nfrom the search string."
          schema:
            type: string
            description: "A search string to find specific equipment, by either license plate or container\r\nID. Optional. If given, it needs to be at least 2 characters long. Spaces and special characters are filtered\r\nfrom the search string."
            nullable: true
        - name: page
          in: query
          description: The index of the page. Optional; defaults to 1.
          schema:
            type: integer
            description: The index of the page. Optional; defaults to 1.
            format: int32
            default: 1
        - name: pageSize
          in: query
          description: The size of each page. Optiona; defaults to 20.
          schema:
            type: integer
            description: The size of each page. Optiona; defaults to 20.
            format: int32
            default: 20
        - name: dateStart
          in: query
          description: The first date that is taken into account when searching. Optional.
          schema:
            type: string
            description: The first date that is taken into account when searching. Optional.
            format: date-time
            nullable: true
        - name: dateEnd
          in: query
          description: The latest date that is taken into account when searching. Optional.
          schema:
            type: string
            description: The latest date that is taken into account when searching. Optional.
            format: date-time
            nullable: true
        - name: status
          in: query
          description: "The status of cleanings that may appear in the list. Optional. If not given, all\r\ncleanings will appear in the list."
          schema:
            $ref: '#/components/schemas/CleaningActionStatusEnum'
        - name: organisationId
          in: query
          description: The ID of the organisation that owns the cleanings. Only available to super admins.
          schema:
            type: string
            description: The ID of the organisation that owns the cleanings. Only available to super admins.
            format: uuid
            nullable: true
        - name: cleaningLocationId
          in: query
          description: The ID of the cleaning location where the cleaning is planned/executed. Optional.
          schema:
            type: string
            description: The ID of the cleaning location where the cleaning is planned/executed. Optional.
            format: uuid
            nullable: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResultsPage.BookletData.CleaningSummary'
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsPage.BookletData.CleaningSummary'
            text/json:
              schema:
                $ref: '#/components/schemas/ResultsPage.BookletData.CleaningSummary'
            text/csv:
              schema:
                $ref: '#/components/schemas/ResultsPage.BookletData.CleaningSummary'
  /v1/cleaningactions/requests:
    get:
      tags:
        - Cleanings
      summary: Search through the cleaning requests issued by an organisation.
      description: "<br>\r\n                    Get all cleaning requests issued by the logged in organisation. Optionally filter by equipment, date or\r\n                    cleaning location.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Equipment Operator</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Equipment Manager</li>\r\n  </ul>\r\n"
      parameters:
        - name: search
          in: query
          description: "A search string to find specific equipment, by either license plate or container\r\nID. Optional. If given, it needs to be at least 2 characters long. Spaces and special characters are filtered\r\nfrom the search string."
          schema:
            type: string
            description: "A search string to find specific equipment, by either license plate or container\r\nID. Optional. If given, it needs to be at least 2 characters long. Spaces and special characters are filtered\r\nfrom the search string."
            nullable: true
        - name: page
          in: query
          description: The index of the page. Optional; defaults to 1.
          schema:
            type: integer
            description: The index of the page. Optional; defaults to 1.
            format: int32
            default: 1
        - name: pageSize
          in: query
          description: The size of each page. Optiona; defaults to 20.
          schema:
            type: integer
            description: The size of each page. Optiona; defaults to 20.
            format: int32
            default: 20
        - name: dateStart
          in: query
          description: The first date that is taken into account when searching. Optional.
          schema:
            type: string
            description: The first date that is taken into account when searching. Optional.
            format: date-time
            nullable: true
        - name: dateEnd
          in: query
          description: The latest date that is taken into account when searching. Optional.
          schema:
            type: string
            description: The latest date that is taken into account when searching. Optional.
            format: date-time
            nullable: true
        - name: organisationId
          in: query
          description: "The ID of the organisation that issued the cleaning requests. Only available to super\r\nadmins."
          schema:
            type: string
            description: "The ID of the organisation that issued the cleaning requests. Only available to super\r\nadmins."
            format: uuid
            nullable: true
        - name: cleaningLocationId
          in: query
          description: The ID of the cleaning location where the cleaning is planned/executed. Optional.
          schema:
            type: string
            description: The ID of the cleaning location where the cleaning is planned/executed. Optional.
            format: uuid
            nullable: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResultsPage.BookletData.CleaningSummary'
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsPage.BookletData.CleaningSummary'
            text/json:
              schema:
                $ref: '#/components/schemas/ResultsPage.BookletData.CleaningSummary'
            text/csv:
              schema:
                $ref: '#/components/schemas/ResultsPage.BookletData.CleaningSummary'
  /v1/equipment/{equipmentId}/cleaningactions/{cleaningActionId}/complete:
    put:
      tags:
        - Cleanings
      summary: Complete a cleaning.
      description: "<br>\r\n                    Completes a cleaning action. Similar to Update, with the main difference that this method alters the\r\n                    state of the cleaning action. Only planned cleaning actions can be completed.\r\n                \r\n<br>\r\n                    Process.RepresentativeName or Process.CreatedBy is the name of the representative of the cleaning company and\r\n                    will be shown on the eECD.\r\n                    Process.CleaningPerformedBy is the name of the cleaning company.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n  </ul>\r\n"
      parameters:
        - name: equipmentId
          in: path
          description: The ID of the equipment.
          required: true
          schema:
            type: string
            description: The ID of the equipment.
            format: uuid
        - name: cleaningActionId
          in: path
          description: The ID of the cleaning action.
          required: true
          schema:
            type: string
            description: The ID of the cleaning action.
            format: uuid
      requestBody:
        description: "The body containing the information about the cleaning action. The cleaning action\r\nwill be updated with these values."
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningUpdate'
          text/xml:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningUpdate'
          application/json:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningUpdate'
          text/json:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningUpdate'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningUpdate'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            application/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/csv:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
  /v1/equipment/{equipmentId}/cleaningactions/{cleaningActionId}/signoff:
    put:
      tags:
        - Cleanings
      summary: Sign off of the eECD by driver.
      description: "<br>\r\n                    Sign off a cleaning action, typically done by the driver of the equipment. After the cleaning action\r\n                    has been signed, it can no longer be modified. When calling this method, a credit will be spent from\r\n                    the equipment operator's account.\r\n                \r\n<br>\r\n  <code><pre>\r\n                        {\r\n                        \"DriverName\": \"John Doe\",\r\n                        \"DriverComments\" : \"Cleaning performed okay, but...\",\r\n                        \"Signature\": \"data:image/gif;base64,...\"\r\n                        }\r\n                    </pre></code>\r\n\r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n  </ul>\r\n"
      parameters:
        - name: equipmentId
          in: path
          description: The ID of the equipment.
          required: true
          schema:
            type: string
            description: The ID of the equipment.
            format: uuid
        - name: cleaningActionId
          in: path
          description: The ID of the cleaning action.
          required: true
          schema:
            type: string
            description: The ID of the cleaning action.
            format: uuid
      requestBody:
        description: "The body containing the driver's name and signature, encoded as a base 64\r\ndata url."
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/BookletData.SignOffCleaning'
          text/xml:
            schema:
              $ref: '#/components/schemas/BookletData.SignOffCleaning'
          application/json:
            schema:
              $ref: '#/components/schemas/BookletData.SignOffCleaning'
          text/json:
            schema:
              $ref: '#/components/schemas/BookletData.SignOffCleaning'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BookletData.SignOffCleaning'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningSignoff'
            application/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningSignoff'
            text/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningSignoff'
            text/csv:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningSignoff'
  /v1/equipment/{equipmentId}/cleaningactions/{cleaningActionId}/postsignoffcomment:
    post:
      tags:
        - Cleanings
      summary: Add a comment to the cleaning action.
      description: "<br>\r\n                    Adds a comment to the cleaning action. This may be done after the driver has signed off the cleaning\r\n                    action, and may be done more than once.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n  </ul>\r\n"
      parameters:
        - name: equipmentId
          in: path
          description: The ID of the equipment.
          required: true
          schema:
            type: string
            description: The ID of the equipment.
            format: uuid
        - name: cleaningActionId
          in: path
          description: The ID of the cleaning action.
          required: true
          schema:
            type: string
            description: The ID of the cleaning action.
            format: uuid
      requestBody:
        description: The comment that needs to be added to the cleaning action.
        content:
          application/xml:
            schema:
              type: string
              description: The comment that needs to be added to the cleaning action.
              nullable: true
          text/xml:
            schema:
              type: string
              description: The comment that needs to be added to the cleaning action.
              nullable: true
          application/json:
            schema:
              type: string
              description: The comment that needs to be added to the cleaning action.
              nullable: true
          text/json:
            schema:
              type: string
              description: The comment that needs to be added to the cleaning action.
              nullable: true
          application/*+json:
            schema:
              type: string
              description: The comment that needs to be added to the cleaning action.
              nullable: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            application/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/csv:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
  /v1/equipment/{equipmentId}/cleaningactions/{cleaningActionId}/signature:
    get:
      tags:
        - Cleanings
      summary: Get the signature of a signed off cleaning.
      description: "<br>\r\n                    Gets the signature of a signed off cleaning as a base-64 encoded data url.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n    <li>Loader</li>\r\n    <li>EquipmentOperator</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n    <li>Despatcher</li>\r\n    <li>Equipment Manager</li>\r\n    <li>Loading Operator</li>\r\n  </ul>\r\n"
      parameters:
        - name: equipmentId
          in: path
          description: The ID of the equipment.
          required: true
          schema:
            type: string
            description: The ID of the equipment.
            format: uuid
        - name: cleaningActionId
          in: path
          description: The ID of the cleaning action.
          required: true
          schema:
            type: string
            description: The ID of the cleaning action.
            format: uuid
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
            text/csv:
              schema:
                type: string
  /v1/equipment/{equipmentId}/cleaningactions/{cleaningActionId}/attachment:
    post:
      tags:
        - Cleanings
      summary: Upload a document to a cleaning.
      description: "<br>\r\n                    Attaches a file to the cleaning, to be stored on the server for the duration of the life time\r\n                    of the cleaning. Once the cleaning is purged from the booklet, so will its attached documents.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n  </ul>\r\n"
      parameters:
        - name: equipmentId
          in: path
          description: The ID of the equipment.
          required: true
          schema:
            type: string
            description: The ID of the equipment.
            format: uuid
        - name: cleaningActionId
          in: path
          description: The ID of the cleaning action.
          required: true
          schema:
            type: string
            description: The ID of the cleaning action.
            format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: file
            encoding:
              file:
                style: form
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BookletData.Attachment'
            application/json:
              schema:
                $ref: '#/components/schemas/BookletData.Attachment'
            text/json:
              schema:
                $ref: '#/components/schemas/BookletData.Attachment'
            text/csv:
              schema:
                $ref: '#/components/schemas/BookletData.Attachment'
  /v1/equipment/{equipmentId}/cleaningactions/{cleaningActionId}/attachment/{attachmentId}:
    get:
      tags:
        - Cleanings
      summary: Download a document attached to a cleaning action..
      description: "<br>\r\n                    Returns the attached document as a downloadable file.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n    <li>Loader</li>\r\n    <li>EquipmentOperator</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n    <li>Despatcher</li>\r\n    <li>Loading Operator</li>\r\n  </ul>\r\n"
      parameters:
        - name: equipmentId
          in: path
          description: The ID of the equipment.
          required: true
          schema:
            type: string
            description: The ID of the equipment.
            format: uuid
        - name: cleaningActionId
          in: path
          description: The ID of the cleaning action.
          required: true
          schema:
            type: string
            description: The ID of the cleaning action.
            format: uuid
        - name: attachmentId
          in: path
          description: The ID of the attached document.
          required: true
          schema:
            type: string
            description: The ID of the attached document.
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: file
  /v1/equipment/{equipmentId}/cleaningactions/{cleaningId}/cancel:
    put:
      tags:
        - Cleanings
      summary: Cancel a planned cleaning.
      description: "<br>\r\n                    Cancels a cleaning that has been started. Note that the cancelled cleaning still appears in logs\r\n                    and the booklet containing the equipment history.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n    <li>EquipmentOperator</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n  </ul>\r\n"
      parameters:
        - name: equipmentId
          in: path
          description: The ID of the equipment.
          required: true
          schema:
            type: string
            description: The ID of the equipment.
            format: uuid
        - name: cleaningId
          in: path
          description: the ID of the cleaning action.
          required: true
          schema:
            type: string
            description: the ID of the cleaning action.
            format: uuid
      requestBody:
        description: Comment explaining why the cleaning had to be cancelled.
        content:
          application/xml:
            schema:
              type: string
              description: Comment explaining why the cleaning had to be cancelled.
              nullable: true
          text/xml:
            schema:
              type: string
              description: Comment explaining why the cleaning had to be cancelled.
              nullable: true
          application/json:
            schema:
              type: string
              description: Comment explaining why the cleaning had to be cancelled.
              nullable: true
          text/json:
            schema:
              type: string
              description: Comment explaining why the cleaning had to be cancelled.
              nullable: true
          application/*+json:
            schema:
              type: string
              description: Comment explaining why the cleaning had to be cancelled.
              nullable: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            application/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/csv:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
  /v1/equipment/{equipmentId}/cleaningactions/{cleaningId}/reject:
    put:
      tags:
        - Cleanings
      summary: Reject a cleaning request.
      description: "<br>\r\n                    Rejects a cleaning request that has not yet been planned. Note that the rejected cleaning still appears in logs\r\n                    and the booklet containing the equipment history.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n  </ul>\r\n"
      parameters:
        - name: equipmentId
          in: path
          description: The ID of the equipment.
          required: true
          schema:
            type: string
            description: The ID of the equipment.
            format: uuid
        - name: cleaningId
          in: path
          description: the ID of the cleaning action.
          required: true
          schema:
            type: string
            description: the ID of the cleaning action.
            format: uuid
      requestBody:
        description: Comment explaining why the cleaning had to be rejected.
        content:
          application/xml:
            schema:
              type: string
              description: Comment explaining why the cleaning had to be rejected.
              nullable: true
          text/xml:
            schema:
              type: string
              description: Comment explaining why the cleaning had to be rejected.
              nullable: true
          application/json:
            schema:
              type: string
              description: Comment explaining why the cleaning had to be rejected.
              nullable: true
          text/json:
            schema:
              type: string
              description: Comment explaining why the cleaning had to be rejected.
              nullable: true
          application/*+json:
            schema:
              type: string
              description: Comment explaining why the cleaning had to be rejected.
              nullable: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            application/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/csv:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
  /v1/cleaningactions/summary:
    get:
      tags:
        - Cleanings
      summary: 'OBSOLETE: Scheduled for removal in v2; should be replaced by v1/cleaningactions.'
      parameters:
        - name: search
          in: query
          schema:
            type: string
            nullable: true
        - name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            format: int32
            default: 20
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResultsPage.BookletData.CleaningSummary'
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsPage.BookletData.CleaningSummary'
            text/json:
              schema:
                $ref: '#/components/schemas/ResultsPage.BookletData.CleaningSummary'
            text/csv:
              schema:
                $ref: '#/components/schemas/ResultsPage.BookletData.CleaningSummary'
      deprecated: true
  /v1/equipment/{equipmentId}/cleaningactions/{cleaningActionId}/invalidate:
    put:
      tags:
        - Cleanings
      summary: Invalidate a cleaning.
      description: "<br>\r\n                    Revokes a cleaning action, to be replaced by a paper version. Only completed cleaning actions can be\r\n                    invalidated.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n  </ul>\r\n"
      parameters:
        - name: equipmentId
          in: path
          description: The ID of the equipment.
          required: true
          schema:
            type: string
            description: The ID of the equipment.
            format: uuid
        - name: cleaningActionId
          in: path
          description: The ID of the cleaning action.
          required: true
          schema:
            type: string
            description: The ID of the cleaning action.
            format: uuid
      requestBody:
        description: The body containing the information about the cleaning action.
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningInvalidation'
          text/xml:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningInvalidation'
          application/json:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningInvalidation'
          text/json:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningInvalidation'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BookletData.CleaningInvalidation'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            application/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/csv:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
  /v1/equipment/{equipmentId}/cleaningactions/{cleaningId}/depotDeclaration:
    post:
      tags:
        - Cleanings
      summary: Create a depot declaration and attach to a cleaning.
      description: "<br>\r\n                    Create a depot declaration to a cleaning. A PDF file will be generated,\r\n                    store in blobstorage and attach to a cleaning.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Equipment Operator</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Equipment Manager</li>\r\n  </ul>\r\n"
      parameters:
        - name: equipmentId
          in: path
          description: The ID of the equipment.
          required: true
          schema:
            type: string
            description: The ID of the equipment.
            format: uuid
        - name: cleaningId
          in: path
          description: The ID of the cleaning action.
          required: true
          schema:
            type: string
            description: The ID of the cleaning action.
            format: uuid
      requestBody:
        description: The body containing the information about the depot declaration.
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/BookletData.Cleaning.DepotDeclarationInfo'
          text/xml:
            schema:
              $ref: '#/components/schemas/BookletData.Cleaning.DepotDeclarationInfo'
          application/json:
            schema:
              $ref: '#/components/schemas/BookletData.Cleaning.DepotDeclarationInfo'
          text/json:
            schema:
              $ref: '#/components/schemas/BookletData.Cleaning.DepotDeclarationInfo'
          application/*+json:
            schema:
              $ref: '#/components/schemas/BookletData.Cleaning.DepotDeclarationInfo'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            application/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/json:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
            text/csv:
              schema:
                $ref: '#/components/schemas/BookletData.CleaningAction'
    get:
      tags:
        - Cleanings
      summary: Download a depot declaration file.
      description: "<br>\r\n                    Download a depot declaration from blobstorage.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Equipment Operator</li>\r\n    <li>Loader</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Equipment Manager</li>\r\n  </ul>\r\n"
      parameters:
        - name: equipmentId
          in: path
          description: The ID of the equipment.
          required: true
          schema:
            type: string
            description: The ID of the equipment.
            format: uuid
        - name: cleaningId
          in: path
          description: The ID of the cleaning action.
          required: true
          schema:
            type: string
            description: The ID of the cleaning action.
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: file
  /v1/credits/add/{amount}:
    post:
      tags:
        - Credits
      summary: Add credits to a wallet.
      description: "<br>\r\n                    Adds credits to the wallet in the form of a credit pack. A credit pack contains credits, as well as a\r\n                    full history of all transactions made for these credits. As long as there is at least one active credit\r\n                    pack containing a credit, the organisation is allowed to perform actions requiring credits.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Community Admin</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Community Admin</li>\r\n  </ul>\r\n"
      parameters:
        - name: amount
          in: path
          description: "The amount of credits that need to be added to the wallet. No more than 5000 credits are allowed\r\nper credit pack."
          required: true
          schema:
            type: integer
            description: "The amount of credits that need to be added to the wallet. No more than 5000 credits are allowed\r\nper credit pack."
            format: int32
        - name: organisationId
          in: query
          description: "The ID of the organisation that receives the credits. Optional. When omitted, the logged\r\nin user's organisation is used."
          schema:
            type: string
            description: "The ID of the organisation that receives the credits. Optional. When omitted, the logged\r\nin user's organisation is used."
            format: uuid
            nullable: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreditData.CreditPack'
            application/json:
              schema:
                $ref: '#/components/schemas/CreditData.CreditPack'
            text/json:
              schema:
                $ref: '#/components/schemas/CreditData.CreditPack'
            text/csv:
              schema:
                $ref: '#/components/schemas/CreditData.CreditPack'
  /v1/credits:
    get:
      tags:
        - Credits
      summary: Get a summary of the amount of remaining credits.
      description: "<br>\r\n                    Gets a summary of all active credit packs, including the amount of remaining credits.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n    <li>Loader</li>\r\n    <li>Equipment Operator</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n  </ul>\r\n"
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreditData.CreditWalletSummary'
            application/json:
              schema:
                $ref: '#/components/schemas/CreditData.CreditWalletSummary'
            text/json:
              schema:
                $ref: '#/components/schemas/CreditData.CreditWalletSummary'
            text/csv:
              schema:
                $ref: '#/components/schemas/CreditData.CreditWalletSummary'
        '404':
          description: Not Found
  /v1/credits/warningthreshold/{warningThreshold}:
    put:
      tags:
        - Credits
      summary: Update the threshold for notifications.
      description: "<br>\r\n                    Updates the amount of credits below which notifications should be sent to the organisations\r\n                    that own the wallet. This amount is spread accross all active credit packs; if the total sum of\r\n                    all remaining credits is below this threshold, mails will be sent in certain intervals.\r\n                \r\n<br>\r\n  <b>NOTE: Email notifications are for phase 2, and are not implemented yet.</b>\r\n\r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n    <li>Loader</li>\r\n    <li>Equipment Operator</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n  </ul>\r\n"
      parameters:
        - name: warningThreshold
          in: path
          description: The amount of credits below which you should be notified.
          required: true
          schema:
            type: integer
            description: The amount of credits below which you should be notified.
            format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreditData.CreditWallet'
            application/json:
              schema:
                $ref: '#/components/schemas/CreditData.CreditWallet'
            text/json:
              schema:
                $ref: '#/components/schemas/CreditData.CreditWallet'
            text/csv:
              schema:
                $ref: '#/components/schemas/CreditData.CreditWallet'
  /v1/credits/transactions:
    get:
      tags:
        - Credits
      summary: Get all transactions between two dates.
      description: "<br>\r\n                    Gets all credit transactions between two dates. If no dates are given, <b>all</b> transactions will be\r\n                    returned.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n    <li>Loader</li>\r\n    <li>Equipment Operator</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n  </ul>\r\n"
      parameters:
        - name: dateStart
          in: query
          description: "The start date for the search. Optional; if omitted, all previous transactions\r\nup until the end date will be returned."
          schema:
            type: string
            description: "The start date for the search. Optional; if omitted, all previous transactions\r\nup until the end date will be returned."
            format: date-time
            nullable: true
        - name: dateEnd
          in: query
          description: "The end date for the search. Optional; if omitted, all transactions starting\r\nfrom the start date will be returned."
          schema:
            type: string
            description: "The end date for the search. Optional; if omitted, all transactions starting\r\nfrom the start date will be returned."
            format: date-time
            nullable: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreditData.CreditTransaction'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreditData.CreditTransaction'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreditData.CreditTransaction'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreditData.CreditTransaction'
  /v1/organisations/{organisationId}/credits:
    get:
      tags:
        - Credits
      summary: Get the remaining credits of an organisation.
      description: "<br>\r\n                    Gets a summary of the credits of a specific organisation.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Community Admin</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Community Admin</li>\r\n  </ul>\r\n"
      parameters:
        - name: organisationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CreditData.CreditWalletSummary'
            application/json:
              schema:
                $ref: '#/components/schemas/CreditData.CreditWalletSummary'
            text/json:
              schema:
                $ref: '#/components/schemas/CreditData.CreditWalletSummary'
            text/csv:
              schema:
                $ref: '#/components/schemas/CreditData.CreditWalletSummary'
        '404':
          description: Not Found
  /v1/credits/wallets:
    get:
      tags:
        - Credits
      summary: Get a summary of the remaining credits per wallet.
      description: "<br>\r\n                    Gets an overview of the amount of remaining credits per wallet, ordered by least amount of remaining\r\n                    credits first. The IDs of the organisations that own the wallet are included, as well as the\r\n                    threshold below which they'd like to be notified. Optionally provide a maximum amount of credits, to\r\n                    only show those wallets below this amount.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Community Admin</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Community Admin</li>\r\n  </ul>\r\n"
      parameters:
        - name: limit
          in: query
          description: "The maximum amount of remaining credits to show up in the results. Optional;\r\nreturns all wallets by default."
          schema:
            type: integer
            description: "The maximum amount of remaining credits to show up in the results. Optional;\r\nreturns all wallets by default."
            format: int32
            nullable: true
        - name: page
          in: query
          description: The index of the page. Optional; defaults to 1.
          schema:
            type: integer
            description: The index of the page. Optional; defaults to 1.
            format: int32
            default: 1
        - name: pageSize
          in: query
          description: The maximum amount of results per page. Optional; defaults to 20.
          schema:
            type: integer
            description: The maximum amount of results per page. Optional; defaults to 20.
            format: int32
            default: 20
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResultsPage.CreditData.WalletSummary'
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsPage.CreditData.WalletSummary'
            text/json:
              schema:
                $ref: '#/components/schemas/ResultsPage.CreditData.WalletSummary'
            text/csv:
              schema:
                $ref: '#/components/schemas/ResultsPage.CreditData.WalletSummary'
  /v1/eecds/logs:
    get:
      tags:
        - EEcds
      summary: Get an overview of all created EEcds between two dates.
      description: "<br>\r\n                    Gets a paged list of every single EEcd transaction between two dates.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Community Admin</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Community Admin</li>\r\n  </ul>\r\n"
      parameters:
        - name: dateStart
          in: query
          description: The start date of the search.
          schema:
            type: string
            description: The start date of the search.
            format: date-time
            nullable: true
        - name: dateEnd
          in: query
          description: The end date of the search.
          schema:
            type: string
            description: The end date of the search.
            format: date-time
            nullable: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResultsPage.EEcdLog.EEcdLog'
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsPage.EEcdLog.EEcdLog'
            text/json:
              schema:
                $ref: '#/components/schemas/ResultsPage.EEcdLog.EEcdLog'
            text/csv:
              schema:
                $ref: '#/components/schemas/ResultsPage.EEcdLog.EEcdLog'
  /v1/equipment/{equipmentId}/cleaningactions/{cleaningId}/document:
    get:
      tags:
        - EEcds
      summary: Generate an eecd document from a cleaning in a booklet.
      description: "<br>\r\n                    Generates a downloadable Eecd document based on a cleaning still in a booklet.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Community Admin</li>\r\n    <li>Equipment Operator</li>\r\n    <li>Cleaner</li>\r\n    <li>Loader</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n    <li>Despatcher</li>\r\n    <li>Equipment Manager</li>\r\n    <li>Loading Operator</li>\r\n    <li>Viewer</li>\r\n  </ul>\r\n"
      parameters:
        - name: equipmentId
          in: path
          description: ''
          required: true
          schema:
            type: string
            description: ''
            format: uuid
        - name: cleaningId
          in: path
          description: ''
          required: true
          schema:
            type: string
            description: ''
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: file
  /v1/eecds/archives/{id}:
    get:
      tags:
        - EEcds
      summary: Download an archived eECD.
      description: "<br>\r\n                    Serves the archived eECD as a downloadable pdf.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Community Admin</li>\r\n    <li>Equipment Operator</li>\r\n    <li>Cleaner</li>\r\n    <li>Loader</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n  </ul>\r\n"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: file
  /v1/eecds/archives/{id}/attachments:
    get:
      tags:
        - EEcds
      summary: Download an archived eECD's attachments.
      description: "<br>\r\n                    Serves the archived eECD's attachments as a downloadable zip.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Community Admin</li>\r\n    <li>Equipment Operator</li>\r\n    <li>Cleaner</li>\r\n    <li>Loader</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n  </ul>\r\n"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/zip:
              schema:
                type: file
  /v1/eecds/archives/{id}/depotDeclaration:
    get:
      tags:
        - EEcds
      summary: Download an archived depot declaration.
      description: "<br>\r\n                    Serves the archived depot declaration as a downloadable pdf.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Equipment Operator</li>\r\n    <li>Loader</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Equipment Manager</li>\r\n  </ul>\r\n"
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: file
  /v1/eecds/archives:
    get:
      tags:
        - EEcds
      summary: Search archived eECDs.
      description: "<br>\r\n                    Gives a paged, filterable overview of archived eECD's for an organisation.\r\n                    Search url cannot be longer than 2048 characters on Internet Explorer.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Community Admin</li>\r\n    <li>Equipment Operator</li>\r\n    <li>Cleaner</li>\r\n    <li>Loader</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Despatcher</li>\r\n    <li>Loading Operator</li>\r\n    <li>Viewer</li>\r\n  </ul>\r\n"
      parameters:
        - name: organisationId
          in: query
          schema:
            type: string
            format: uuid
            nullable: true
        - name: equipmentId
          in: query
          schema:
            type: string
            format: uuid
            nullable: true
        - name: uniqueEquipmentId
          in: query
          schema:
            type: string
            nullable: true
        - name: loadingLocation
          in: query
          schema:
            type: string
            nullable: true
        - name: title
          in: query
          schema:
            type: string
            nullable: true
        - name: reference
          in: query
          schema:
            type: integer
            format: int64
            nullable: true
        - name: hasBeenDownloaded
          in: query
          schema:
            type: boolean
            nullable: true
        - name: cleaningInternalReference
          in: query
          schema:
            type: string
            nullable: true
        - name: transportOrderReference
          in: query
          schema:
            type: string
            nullable: true
        - name: cleaningCustomerReference
          in: query
          schema:
            type: string
            nullable: true
        - name: outboundDeliveryReference
          in: query
          schema:
            type: string
            nullable: true
        - name: cleaningLocationId
          in: query
          schema:
            type: string
            format: uuid
            nullable: true
        - name: equipmentOperatorName
          in: query
          schema:
            type: string
            nullable: true
        - name: cleaningCompanyName
          in: query
          schema:
            type: string
            nullable: true
        - name: loaderName
          in: query
          schema:
            type: string
            nullable: true
        - name: cleaningLocationName
          in: query
          schema:
            type: string
            nullable: true
        - name: endedAtFrom
          in: query
          schema:
            type: string
            format: date-time
            nullable: true
        - name: endedAtUntil
          in: query
          schema:
            type: string
            format: date-time
            nullable: true
        - name: completedAtFrom
          in: query
          schema:
            type: string
            format: date-time
            nullable: true
        - name: completedAtUntil
          in: query
          schema:
            type: string
            format: date-time
            nullable: true
        - name: signedAtFrom
          in: query
          schema:
            type: string
            format: date-time
            nullable: true
        - name: signedAtUntil
          in: query
          schema:
            type: string
            format: date-time
            nullable: true
        - name: loadCompletedAtFrom
          in: query
          schema:
            type: string
            format: date-time
            nullable: true
        - name: loadCompletedAtUntil
          in: query
          schema:
            type: string
            format: date-time
            nullable: true
        - name: page
          in: query
          schema:
            type: integer
            format: int32
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            format: int32
            default: 20
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ResultsPage.EecdDocument.ArchivedEecdMetadataDetail'
            application/json:
              schema:
                $ref: '#/components/schemas/ResultsPage.EecdDocument.ArchivedEecdMetadataDetail'
            text/json:
              schema:
                $ref: '#/components/schemas/ResultsPage.EecdDocument.ArchivedEecdMetadataDetail'
            text/csv:
              schema:
                $ref: '#/components/schemas/ResultsPage.EecdDocument.ArchivedEecdMetadataDetail'
  /v1/equipment/{equipmentId}/cleaningactions/{cleaningId}/request/document:
    get:
      tags:
        - EEcos
      summary: Generate an eeco document from a cleaning request in a booklet.
      description: "<br>\r\n                    Generates a downloadable Eeco document based on a cleaning request still in a booklet.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Community Admin</li>\r\n    <li>Equipment Operator</li>\r\n    <li>Cleaner</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n    <li>Despatcher</li>\r\n    <li>Equipment Manager</li>\r\n  </ul>\r\n"
      parameters:
        - name: equipmentId
          in: path
          description: ''
          required: true
          schema:
            type: string
            description: ''
            format: uuid
        - name: cleaningId
          in: path
          description: ''
          required: true
          schema:
            type: string
            description: ''
            format: uuid
      responses:
        '200':
          description: Success
          content:
            application/octet-stream:
              schema:
                type: file
  /v1/eftcocleaningcodes:
    get:
      tags:
        - EftcoCleaningCodes
      summary: Get all EFTCO codes.
      description: "<br>\r\n                    Gets all EFTCO cleaning codes, including a description in the desired language. If no language is\r\n                    given, Dutch descriptions will be returned.\r\n                \r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n    <li>Loader</li>\r\n    <li>Equipment Operator</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n    <li>Equipment Manager</li>\r\n    <li>Loading Operator</li>\r\n  </ul>\r\n"
      parameters:
        - name: lang
          in: query
          description: The language in which the descriptions need to be returned. Either NL, EN, FR or DE.
          schema:
            $ref: '#/components/schemas/LanguageEnum'
        - name: code
          in: query
          description: "Optional. Search string to narrow down the results to only contain the specified\r\ncode."
          schema:
            type: string
            description: "Optional. Search string to narrow down the results to only contain the specified\r\ncode."
            nullable: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EftcoCleaningCodes.EftcoCleaningCodeSummary'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EftcoCleaningCodes.EftcoCleaningCodeSummary'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EftcoCleaningCodes.EftcoCleaningCodeSummary'
            text/csv:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EftcoCleaningCodes.EftcoCleaningCodeSummary'
    post:
      tags:
        - EftcoCleaningCodes
      summary: Create an EFTCO code.
      description: "<br>\r\n                    Creates an EFTCO cleaning code, including descriptions in all supported languages. The name of the\r\n                    updated code may not already exist, and all descriptions must be filled in. We currently support\r\n                    the following languages: NL, EN, FR and DE. At least all of these languages must be present in the\r\n                    DTO, but additional ones may be given if desired.\r\n                \r\n<code><pre>\r\n                    POST v1/eftcocleaningcodes\r\n                    {\r\n                    \"code\" : \"Hello World\",\r\n                    \"descriptions\" : {\r\n                    \"EN\" : \"Hello world!\",\r\n                    \"NL\" : \"Hallo wereld!\",\r\n                    \"FR\" : \"Bonjour monde!\",\r\n                    \"DE\" : \"Gutentag Welt!\"\r\n                    }\r\n                    }\r\n                </pre></code>\r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Community Admin</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Community Admin</li>\r\n  </ul>\r\n"
      requestBody:
        description: The code, as well as descriptions in (at least) all supported languages.
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/EftcoCleaningCodes.EftcoCleaningCodeCreate'
          text/xml:
            schema:
              $ref: '#/components/schemas/EftcoCleaningCodes.EftcoCleaningCodeCreate'
          application/json:
            schema:
              $ref: '#/components/schemas/EftcoCleaningCodes.EftcoCleaningCodeCreate'
          text/json:
            schema:
              $ref: '#/components/schemas/EftcoCleaningCodes.EftcoCleaningCodeCreate'
          application/*+json:
            schema:
              $ref: '#/components/schemas/EftcoCleaningCodes.EftcoCleaningCodeCreate'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/EftcoCleaningCode'
            application/json:
              schema:
                $ref: '#/components/schemas/EftcoCleaningCode'
            text/json:
              schema:
                $ref: '#/components/schemas/EftcoCleaningCode'
            text/csv:
              schema:
                $ref: '#/components/schemas/EftcoCleaningCode'
        '400':
          description: Bad Request
  /v1/eftcocleaningcodes/validate:
    get:
      tags:
        - EftcoCleaningCodes
      summary: Check whether the cleaning would pass validation.
      description: "<br>\r\n                    Checks whether the set of used EFTCO cleaning codes is considered valid for the specified type of\r\n                    cleaning. Standard cleanings have no demands other than that the passed Eftco cleaning codes need\r\n                    to be known by the application, but polymer cleanings need to adhere to a specific set of required\r\n                    and optional codes. If a code is optional, it needs to be accompanied by a comment explaining its\r\n                    absense.\r\n                \r\n<br>\r\n  <code><pre>\r\n                        /equipment/cleaningactions/validate?type=polymer&codes=E58,T01,E63,P10,E61,E62,E64,E77,E78,E72&\r\n                        commented=E57,E56\r\n                        Result:\r\n                        {\r\n                        \"isValid\": false,\r\n                        \"errors\": [\r\n                        \"Code E79 is required, but was not found.\",\r\n                        \"Code E90 is optional, but was not found, and was not yet commented.\",\r\n                        \"At least 1 of the following codes need(s) to be present: E35, P30.\"\r\n                        ],\r\n                        \"missingOptionalCodesCodes\": [\r\n                        \"E90\"\r\n                        ]\r\n                        }\r\n                    </pre></code>\r\n\r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n    <li>Loader</li>\r\n    <li>EquipmentOperator</li>\r\n    <li>Seller</li>\r\n    <li>Community Admin</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n  </ul>\r\n"
      parameters:
        - name: type
          in: query
          description: The type of cleaning. Either Standard or Polymer.
          schema:
            $ref: '#/components/schemas/CleaningTypeEnum'
        - name: codes
          in: query
          description: "The comma-seperated list of EFTCO cleaning codes that have been used to clean the\r\nequipment."
          schema:
            type: array
            items:
              type: string
            description: "The comma-seperated list of EFTCO cleaning codes that have been used to clean the\r\nequipment."
            nullable: true
        - name: commented
          in: query
          description: "The comma-seperated list of EFTCO cleaning codes that are missing, but are\r\naccompanied by a comment indicating the reason for them not having been used."
          schema:
            type: array
            items:
              type: string
            description: "The comma-seperated list of EFTCO cleaning codes that are missing, but are\r\naccompanied by a comment indicating the reason for them not having been used."
            nullable: true
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/BookletData.Cleaning.CodeValidationResult'
            application/json:
              schema:
                $ref: '#/components/schemas/BookletData.Cleaning.CodeValidationResult'
            text/json:
              schema:
                $ref: '#/components/schemas/BookletData.Cleaning.CodeValidationResult'
            text/csv:
              schema:
                $ref: '#/components/schemas/BookletData.Cleaning.CodeValidationResult'
  /v1/equipment/cleaningactions/validate:
    get:
      tags:
        - EftcoCleaningCodes
      summary: Check whether the cleaning would pass validation.
      description: "<br>\r\n                    Checks whether the set of used EFTCO cleaning codes is considered valid for the specified type of\r\n                    cleaning. Standard cleanings have no demands other than that the passed Eftco cleaning codes need\r\n                    to be known by the application, but polymer cleanings need to adhere to a specific set of required\r\n                    and optional codes. If a code is optional, it needs to be accompanied by a comment explaining its\r\n                    absense.\r\n                \r\n<br>\r\n  <code><pre>\r\n                        /equipment/cleaningactions/validate?type=polymer&codes=E58,T01,E63,P10,E61,E62,E64,E77,E78,E72&\r\n                        commented=E57,E56\r\n                        Result:\r\n                        {\r\n                        \"isValid\": false,\r\n                        \"errors\": [\r\n                        \"Code E79 is required, but was not found.\",\r\n                        \"Code E90 is optional, but was not found, and was not yet commented.\",\r\n                        \"At least 1 of the following codes need(s) to be present: E35, P30.\"\r\n                        ],\r\n                        \"missingOptionalCodesCodes\": [\r\n                        \"E90\"\r\n                        ]\r\n                        }\r\n                    </pre></code>\r\n\r\n<br>\r\n  <b>Can be called by</b>\r\n  <ul>\r\n    <li>Cleaner</li>\r\n    <li>Loader</li>\r\n    <li>EquipmentOperator</li>\r\n    <li>Seller</li>\r\n    <li>Community Admin</li>\r\n  </ul>\r\n\r\n<br>\r\n  <b>Required roles</b>\r\n  <ul>\r\n    <li>Admin</li>\r\n    <li>Cleaning Operator</li>\r\n  </ul>\r\n"
      parameters:
        - name: type
          in: query
          description: The type of cleaning. Either Standard or Polymer.
          schema:
            $ref: '#/components/schemas/CleaningTypeEnum'
        - name: codes
          in: query
          description: "The comma-seperated list of EFTCO cleaning codes that have been used to clean the\r\nequipment."
          schema:
[...]
