---
swagger: '2.0'
info:
  version: v2
  title: NxtPort Consignment API
  description: The ConsignmentInfo API provides access to the customs status of consignments
    submitted to customs using a CUSCAR message.
host: api.nxtport.eu
basePath: "/Consignment/live/api/v2"
paths:
  "/nxtportdocument/{blnumber}/sn/{stayNumber}":
    get:
      tags:
      - Document
      summary: Returns the file with corresponding blnumbers and staynumber.
      operationId: NxtportdocumentByBlnumberSnByStayNumberGet
      consumes: []
      produces:
      - application/json
      - application/xml
      parameters:
      - name: blnumber
        in: path
        description: blnumber
        required: true
        type: string
      - name: stayNumber
        in: path
        description: staynumber
        required: true
        type: string
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/ConsignmentResponse"
        '204':
          description: Success
        '403':
          description: Forbidden
        '500':
          description: Server Error
  "/nxtportdocument/{blnumber}/cn/{containerNumber}":
    get:
      tags:
      - Document
      summary: Returns the file with corresponding blnumbers and containernumber.
      operationId: NxtportdocumentByBlnumberCnByContainerNumberGet
      consumes: []
      produces:
      - application/xml
      - application/json
      parameters:
      - name: blnumber
        in: path
        description: blnumber
        required: true
        type: string
      - name: containerNumber
        in: path
        description: containernumber
        required: true
        type: string
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/ConsignmentResponse"
        '204':
          description: Success
        '403':
          description: Forbidden
        '500':
          description: Server Error
  "/nxtportdocument/{blnumber}/ag/{agent}":
    get:
      tags:
      - Document
      summary: Returns the file with corresponding blnumbers and senderID.
      operationId: NxtportdocumentByBlnumberAgByAgentGet
      consumes: []
      produces:
      - application/xml
      - application/json
      parameters:
      - name: blnumber
        in: path
        description: blnumber
        required: true
        type: string
      - name: agent
        in: path
        description: agent
        required: true
        type: string
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      responses:
        '200':
          description: Success
          schema:
            "$ref": "#/definitions/ConsignmentResponse"
        '204':
          description: Success
        '403':
          description: Forbidden
        '500':
          description: Server Error
  "/nxtportdocument/subscribe/cn":
    post:
      tags:
      - Document
      summary: Registers alerts for Consignment documents based on BlNumber/ContainerNumber
      operationId: NxtportdocumentSubscribeCnPost
      consumes:
      - application/json
      produces: []
      parameters:
      - name: subscription
        in: body
        description: ''
        required: false
        schema:
          "$ref": "#/definitions/ContainerNumberConsignmentNotificationSubscription"
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  "/nxtportdocument/subscribe/ag":
    post:
      tags:
      - Document
      summary: Registers alerts for Consignment documents based on BlNumber/AgentCode
      operationId: NxtportdocumentSubscribeAgPost
      consumes:
      - application/json
      produces: []
      parameters:
      - name: subscription
        in: body
        description: ''
        required: false
        schema:
          "$ref": "#/definitions/AgentCodeConsignmentNotificationSubscription"
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  "/nxtportdocument/subscribe/sn":
    post:
      tags:
      - Document
      summary: Registers alerts for Consignment documents based on BlNumber/StayNumber
      operationId: NxtportdocumentSubscribeSnPost
      consumes:
      - application/json
      produces: []
      parameters:
      - name: subscription
        in: body
        description: ''
        required: false
        schema:
          "$ref": "#/definitions/StayNumberConsignmentNotificationSubscription"
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
        '500':
          description: Server Error
  "/ping":
    get:
      tags:
      - Document
      operationId: PingGet
      consumes: []
      produces: []
      parameters:
      - name: Ocp-Apim-Subscription-Key
        in: header
        required: false
        type: string
      responses:
        '200':
          description: Success
definitions:
  ConsignmentResponse:
    type: object
    properties:
      consignmentData:
        "$ref": "#/definitions/ConsignmentData"
      technicalInfo:
        "$ref": "#/definitions/TechnicalInfo"
  ConsignmentData:
    type: object
    properties:
      equipment:
        type: array
        items:
          "$ref": "#/definitions/Equipment"
      consignment:
        type: array
        items:
          "$ref": "#/definitions/Consignment"
  TechnicalInfo:
    type: object
    properties:
      code:
        type: string
      description:
        type: string
      created:
        type: string
      dataProvider:
        type: string
      parentDocument:
        type: array
        items:
          "$ref": "#/definitions/ParentDocument"
  Equipment:
    type: object
    properties:
      equipmentType:
        type: string
      identifier:
        type: string
      type:
        type: string
      status:
        type: string
      transportCondition:
        type: string
      seal:
        type: array
        items:
          "$ref": "#/definitions/Seal"
      weight:
        "$ref": "#/definitions/Weight"
  Consignment:
    type: object
    properties:
      sequenceNr:
        type: string
      seaVoyage:
        "$ref": "#/definitions/SeaVoyage"
      goodsItem:
        type: array
        items:
          "$ref": "#/definitions/GoodsItem"
  ParentDocument:
    type: object
    properties:
      nxtInternalId:
        type: string
      identifier:
        type: string
      type:
        type: string
      received:
        type: string
      dataProvider:
        type: string
      dataProviderCode:
        type: string
      dataProviderCodeType:
        type: string
      code:
        type: string
      description:
        type: string
  Seal:
    type: object
    properties:
      sealNumber:
        type: string
      sealingParty:
        type: string
      sealType:
        type: string
      sealCondition:
        type: string
  Weight:
    type: object
    properties:
      vgmWeight:
        type: string
      vgmWeightUnit:
        type: string
  SeaVoyage:
    type: object
    properties:
      blNumber:
        type: string
      cargoAgent:
        "$ref": "#/definitions/CargoAgent"
      portOfLoading:
        "$ref": "#/definitions/PortOfLoading"
      portOfDestination:
        "$ref": "#/definitions/PortOfDestination"
      vessel:
        "$ref": "#/definitions/Vessel"
      vesselStay:
        "$ref": "#/definitions/VesselStay"
  GoodsItem:
    type: object
    properties:
      sequenceNr:
        type: string
      description:
        type: string
      packageType:
        type: string
      numberOfPackages:
        type: string
      grossWeight:
        type: string
      grossWeightUnit:
        type: string
      customsStatus:
        type: string
      stuffing:
        type: array
        items:
          "$ref": "#/definitions/Stuffing"
  CargoAgent:
    type: object
    properties:
      agentCode:
        type: string
  PortOfLoading:
    type: object
    properties:
      unloCode:
        type: string
  PortOfDestination:
    type: object
    properties:
      unloCode:
        type: string
      terminalCode:
        type: string
  Vessel:
    type: object
    properties:
      imo:
        type: string
  VesselStay:
    type: object
    properties:
      stayNumber:
        type: string
  Stuffing:
    type: object
    properties:
      identifier:
        type: string
      numberOfPackages:
        type: string
      grossWeight:
        type: string
  ContainerNumberConsignmentNotificationSubscription:
    type: object
    properties:
      subscriptions:
        type: array
        items:
          "$ref": "#/definitions/ContainerNumberAssetSubscription"
      channels:
        type: array
        items:
          "$ref": "#/definitions/Channel"
  ContainerNumberAssetSubscription:
    type: object
    properties:
      blNumber:
        type: string
      containerNumber:
        type: string
  Channel:
    required:
    - type
    - address
    type: object
    properties:
      type:
        enum:
        - Email
        - Webhook
        - AS2
        type: string
      address:
        type: string
  AgentCodeConsignmentNotificationSubscription:
    type: object
    properties:
      subscriptions:
        type: array
        items:
          "$ref": "#/definitions/AgentCodeAssetSubscription"
      channels:
        type: array
        items:
          "$ref": "#/definitions/Channel"
  AgentCodeAssetSubscription:
    type: object
    properties:
      blNumber:
        type: string
      agentCode:
        type: string
  StayNumberConsignmentNotificationSubscription:
    type: object
    properties:
      subscriptions:
        type: array
        items:
          "$ref": "#/definitions/StayNumberAssetSubscription"
      channels:
        type: array
        items:
          "$ref": "#/definitions/Channel"
  StayNumberAssetSubscription:
    type: object
    properties:
      blNumber:
        type: string
      stayNumber:
        type: string
securityDefinitions:
  Bearer:
    name: Authorization
    in: header
    type: apiKey
    description: 'JWT Authorization header using the Bearer scheme. Example: "Authorization:
      Bearer {token}"'
