swagger: '2.0'
info:
  title: Port+ Portdirectory API (live)
  version: '1.0'
  description: Port Directory API
host: api.nxtport.eu
basePath: /portdirectory/v1
schemes:
  - https
securityDefinitions:
  apiKeyHeader:
    type: apiKey
    name: Ocp-Apim-Subscription-Key
    in: header
  apiKeyQuery:
    type: apiKey
    name: subscription-key
    in: query
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
paths:
  /companies:
    get:
      description: Get companies where name contains input.
      operationId: Company_GetCompaniesOverviewContainingName
      parameters:
        - name: name
          in: query
          description: Name of the company
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CompanyOverviewDtoArray'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResult'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
  '/companies/{id}':
    get:
      description: Get a company by its id.
      operationId: Company_GetCompanyById
      parameters:
        - name: id
          in: path
          description: Format - uuid. Id of the company
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CompanyDto'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResult'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
  '/companies/name/{name}':
    get:
      description: Get a company by its name.
      operationId: Company_GetCompanyByName
      parameters:
        - name: name
          in: path
          description: Name of the company
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CompanyDto'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResult'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
  '/companies/pcs/{pcs}':
    get:
      description: Get a company by its pcs code.
      operationId: Company_GetCompanyByPcs
      parameters:
        - name: pcs
          in: path
          description: Pcs code of the company
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CompanyDto'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResult'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
  '/companies/vat/{vat}':
    get:
      description: Get a company by its vat.
      operationId: Company_GetCompanyByVat
      parameters:
        - name: vat
          in: path
          description: Vat of the company
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CompanyDto'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResult'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
  /ping:
    get:
      description: Indicates that the api can be reached.
      operationId: Health_Ping
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PingGet200ApplicationJsonResponse'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResult'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
  /status:
    get:
      description: Indicate the health status of the API.
      operationId: Health_Status
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LastCheckedResult'
        '400':
          description: BadRequest
          schema:
            $ref: '#/definitions/ErrorResult'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
definitions:
  ActivityDto:
    properties:
      name:
        type: string
    type: object
  AddressDto:
    properties:
      city:
        type: string
      country:
        type: string
      streetAndNumber:
        type: string
      zipCode:
        type: string
    type: object
  AfterhourDto:
    properties:
      email:
        type: string
      fax:
        type: string
      functionTitle:
        type: string
      gsm:
        type: string
      name:
        type: string
      phone:
        type: string
    type: object
  CertificateDto:
    properties:
      category:
        type: string
      property:
        type: string
    type: object
  CompanyDto:
    properties:
      activities:
        items:
          $ref: '#/definitions/ActivityDto'
        type: array
      address:
        $ref: '#/definitions/AddressDto'
      afterHours:
        items:
          $ref: '#/definitions/AfterhourDto'
        type: array
      certificates:
        items:
          $ref: '#/definitions/CertificateDto'
        type: array
      email:
        type: string
      fax:
        type: string
      financials:
        items:
          $ref: '#/definitions/FinancialDto'
        type: array
      id:
        example: 00000000-0000-0000-0000-000000000000
        format: uuid
        type: string
      logistics:
        items:
          $ref: '#/definitions/LogisticDto'
        type: array
      managements:
        items:
          $ref: '#/definitions/ManagementDto'
        type: array
      name:
        type: string
      openingHours:
        items:
          $ref: '#/definitions/OpeningHoursDto'
        type: array
      pcsCode:
        type: string
      phone:
        type: string
      quayAndWarehouses:
        items:
          $ref: '#/definitions/QuayAndWarehouseDto'
        type: array
      sectors:
        items:
          $ref: '#/definitions/SectorDto'
        type: array
      url:
        type: string
      vat:
        type: string
      waterClercks:
        items:
          $ref: '#/definitions/WaterClerckDto'
        type: array
    type: object
  CompanyOverviewDto:
    properties:
      facilities:
        items:
          type: string
        type: array
      id:
        example: 00000000-0000-0000-0000-000000000000
        format: uuid
        type: string
      name:
        type: string
      pcsCode:
        type: string
      vat:
        type: string
    type: object
  ErrorResult:
    properties:
      error:
        type: string
      identifier:
        format: date-time
        type: string
    type: object
  FinancialDto:
    properties:
      bic:
        type: string
      iban:
        type: string
    type: object
  LastCheckedResult:
    properties:
      lastChecked:
        type: string
    type: object
  LogisticDto:
    properties:
      category:
        type: string
      property:
        type: string
    type: object
  ManagementDto:
    properties:
      email:
        type: string
      firstName:
        type: string
      functionTitle:
        type: string
      lastName:
        type: string
      phone:
        type: string
    type: object
  OpeningHoursDto:
    properties:
      afternoon:
        type: string
      closed:
        type: boolean
      day:
        type: string
      forenoon:
        type: string
    type: object
  QuayAndWarehouseDto:
    properties:
      address:
        $ref: '#/definitions/AddressDto'
      email:
        type: string
      fax:
        type: string
      function:
        type: string
      name:
        type: string
      phone:
        type: string
      quayNr:
        type: string
      responsible:
        type: string
      warehouse:
        type: string
    type: object
  SectorDto:
    properties:
      name:
        type: string
    type: object
  WaterClerckDto:
    properties:
      address:
        $ref: '#/definitions/AddressDto'
      email:
        type: string
      fax:
        type: string
      functionTitle:
        type: string
      gsm:
        type: string
      name:
        type: string
      phone:
        type: string
    type: object
  CompanyOverviewDtoArray:
    items:
      $ref: '#/definitions/CompanyOverviewDto'
    type: array
  PingGet200ApplicationJsonResponse:
    type: object
